$main-font: "Josefin Sans";
$titles-font:'Indie Flower';
$logo-font:'Permanent Marker';
footer {
    grid-area: footer;
    height: auto;
    width: auto;
    font-family: $main-font;
    font-size: map-get($tam-letra-100, headyfoot);
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
        top: 15%;
        padding: 0px;
        li {
            color: black;
            padding: 6px;
            a:hover {
                color: floralwhite;
            }
        }
    }
}