// /*****body generales todo****/
// =====FUENTES GENERALES=====
$main-font: "Josefin Sans";
$titles-font:'Indie Flower';
$logo-font:'Permanent Marker';
$cuento-titu-font:'Bebas Neue';
// =====MAPS DE TAMAÑOS DE LETRA PARA TODO=====
$tam-letra-100:(titulos:15rem, forms:5rem, headyfoot:7rem, qb:12rem, logo:20rem, cont:14rem);
$tam-letra-600:(titulos:16rem, forms:10rem, headyfoot:8rem, qb:15rem, logo:20rem, cont:14rem);
$tam-letra-300:(titulos:13rem, forms:5rem, headyfoot:8rem, qb:10rem, logo:13rem, cont:14rem);
$tam-letra-1000:(titulos:11rem, forms:5rem, headyfoot:7rem, qb:7rem, logo:13rem, cont:8rem);
// =====MAPS DE FONDOS PARA TODO=====
$fondos:( index: rgba(212, 177, 163, 0.178), cine:rgba(211, 78, 223, 0.178), literatura: rgba(251, 255, 18, 0.179), musica: rgba(41, 206, 69, 0.171), header:#afafaf85, sn:rgba(99, 1, 1, 0.323), qsp:rgba(177, 108, 19, 0.207), carlos:rgba(58, 58, 58, 0.438), comandante:rgba(169, 169, 169, 0.842), normal:rgba(89, 0, 0, 0.761));
// =====ESTE EACH CREARA LAS CLASES DE LOS FONDOS CON EL MAP $FONDOS=====
@each $seccion,
$color in $fondos {
    .fondo-#{$seccion} {
        background-color: $color;
    }
}

// =====MAPS DE WIDTHS PARA FORMS, BOTONES Y DROPDOWN=====
$input-sizes:(que-buscas:40%, boton:20%, drop-down:10%);
$input-sizes600:(que-buscas:80%, boton:35%, drop-down:30%);
$input-sizes300:(que-buscas:90%, boton:55%, drop-down:60%);
$input-sizes1000:(que-buscas:50%, boton:10%, drop-down:30%);
// =======PROPIEDADES CSS/SASS GENERALES=======
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: auto;
    a {
        text-decoration: none;
        &:visited {
            color: slategrey;
        }
    }
}

.root__element {
    font-size: 3px;
}

// ==========MIXINS GENERALES DE LOS FILTROS===========
@mixin titulos($position-right) {
    margin: 10rem;
    font-family: $titles-font, cursive;
    font-size: map-get($tam-letra-100, titulos);
    position: relative;
    right: $position-right;
    padding: 20px;
}

@mixin botones($position-right, $position-top, $color-boton) {
    width: map-get($input-sizes, boton);
    padding: 3px;
    position: relative;
    right: $position-right;
    top: $position-top;
    background-color: $color-boton;
    border-radius: 45%;
    margin: 4rem;
}

@mixin dropdown {
    position: relative;
    right: -5%;
    margin: 7rem;
    &__dropdown {
        width: map-get($input-sizes, drop-down);
        margin: 4rem;
        padding: 2rem;
        border-radius: 30px;
    }
}

@mixin checkboxes {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
        margin: 3rem;
    }
}

@mixin qb-input {
    width: 30%;
    border-radius: 30px;
    width: map-get($input-sizes, que-buscas);
}

@mixin forms($fondo-forms) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: auto;
    font-family: $main-font;
    font-size: map-get($tam-letra-100, forms);
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $fondo-forms;
    justify-items: space-between;
}

// =====MIXINS RECOMENDADOS===============
@mixin contenidos {
    font-family: $titles-font, cursive;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    // &__titulo {
    //     position: relative;
    //     right: -20%;
    // }
    img {
        width: 60rem;
        height: 30rem;
        border: rgba(248, 62, 5, 0.158) solid 3px;
    }
    img:hover {
        border: 2px inset #ffd700;
        width: 70rem;
        height: 37rem;
    }
}

// =========MIXINS MEDIA QUERIES===================
// ===============FORMS==============
// =========================MQ 361px A 600px===========
@mixin titulos600($position-right) {
    margin: 10rem;
    font-family: $titles-font, cursive;
    font-size: map-get($tam-letra-600, titulos);
    position: relative;
    right: $position-right;
    padding: 20px;
}

@mixin forms600($fondo-forms) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: auto;
    font-family: $main-font;
    font-size: map-get($tam-letra-600, forms);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $fondo-forms;
    justify-items: space-between;
}

@mixin botones600($position-right, $position-top, $color-boton) {
    width: map-get($input-sizes600, boton);
    padding: 3px;
    position: relative;
    right: $position-right;
    top: $position-top;
    background-color: $color-boton;
    border-radius: 45%;
    margin: 7rem;
}

@mixin dropdown600 {
    margin: 7rem;
    &__dropdown {
        width: map-get($input-sizes600, drop-down);
        margin: 2rem;
        padding: 2rem;
        border-radius: 30px;
    }
}

@mixin checkboxes600 {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
        margin: 3rem;
    }
    margin:7rem;
}

@mixin qb-input600 {
    border-radius: 30px;
    width: map-get($input-sizes600, que-buscas);
    margin: 7rem;
}

// =====RECOMENDADOS=====
@mixin contenidos600 {
    font-family: $titles-font, cursive;
    font-size: map-get($input-sizes600, cont);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    img {
        width: 90rem;
        height: 50rem;
        border: rgba(248, 62, 5, 0.158) solid 3px;
    }
    img:hover {
        border: 2px inset #ffd700;
        width: 70rem;
        height: 37rem;
    }
}

// =========================MQ 0px A 361px===========
@mixin titulos300($position-right) {
    margin: 8rem;
    margin-right: 5rem;
    font-family: $titles-font, cursive;
    font-size: map-get($tam-letra-300, titulos);
    position: relative;
    right: $position-right;
    max-width: 65%;
}

@mixin forms300($fondo-forms) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: auto;
    font-family: $main-font;
    font-size: map-get($tam-letra-300, forms);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $fondo-forms;
    justify-items: space-between;
}

@mixin botones300($position-right, $position-top, $color-boton) {
    width: map-get($input-sizes300, boton);
    padding: 3px;
    position: relative;
    right: $position-right;
    top: $position-top;
    background-color: $color-boton;
    border-radius: 45%;
    margin: 4rem;
}

@mixin dropdown300 {
    margin: 7rem;
    &__dropdown {
        width: map-get($input-sizes300, drop-down);
        margin: 2rem;
        padding: 2rem;
        border-radius: 30px;
    }
}

@mixin checkboxes300 {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap,
    li {
        margin: 3rem;
    }
    margin:7rem;
}

@mixin qb-input300 {
    border-radius: 30px;
    width: map-get($input-sizes300, que-buscas);
    margin: 7rem;
}

@mixin qb300 {
    font-size: map-get($tam-letra-300, qb);
    margin: 0rem;
}

@mixin qb600 {
    font-size: map-get($tam-letra-600, qb);
    margin: 0rem;
}

// =====RECOMENDADOS=====
@mixin contenidos300 {
    font-family: $titles-font, cursive;
    font-size: map-get($input-sizes300, cont);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    img {
        width: 90rem;
        height: 50rem;
        border: rgba(248, 62, 5, 0.158) solid 3px;
    }
    img:hover {
        border: 2px inset #ffd700;
        width: 70rem;
        height: 37rem;
    }
}

// =========================MQ >600>1300===========
@mixin titulos1000($position-right) {
    margin: 10rem;
    font-family: $titles-font, cursive;
    font-size: map-get($tam-letra-1000, titulos);
    position: relative;
    right: $position-right;
    max-width: 70%;
}

@mixin forms1000($fondo-forms) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: auto;
    width: auto;
    font-family: $main-font;
    font-size: map-get($tam-letra-1000, forms);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: $fondo-forms;
    justify-items: space-between;
}

@mixin botones1000($position-right, $position-top, $color-boton) {
    width: map-get($input-sizes1000, boton);
    padding: 3px;
    position: relative;
    right: $position-right;
    top: $position-top;
    background-color: $color-boton;
    border-radius: 45%;
    margin: 4rem;
}

@mixin dropdown1000 {
    margin: 7rem;
    &__dropdown {
        width: map-get($input-sizes1000, drop-down);
        margin: 2rem;
        padding: 2rem;
        border-radius: 30px;
    }
}

@mixin checkboxes1000 {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap,
    li {
        margin: 3rem;
    }
    margin:7rem;
}

@mixin qb-input1000 {
    border-radius: 30px;
    width: map-get($input-sizes1000, que-buscas);
    margin: 7rem;
}

@mixin qb1000 {
    font-size: map-get($tam-letra-1000, qb);
    margin: 0rem;
}

// =====RECOMENDADOS=====
@mixin contenidos1000 {
    font-family: $titles-font, cursive;
    font-size: map-get($tam-letra-1000, cont);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
        min-width: 60rem;
        min-height: 35rem;
        max-width: 150rem;
        max-height: 100rem;
        border: rgba(248, 62, 5, 0.158) solid 3px;
    }
    img:hover {
        border: 2px inset #ffd700;
        width: 70rem;
        height: 37rem;
    }
}

@mixin cont__titulos1000($position-right) {
    font-family: $titles-font, cursive;
    font-size: map-get($tam-letra-1000, cont);
    position: relative;
    right: $position-right;
}

//==========MIXINS CUENTOS=================
@mixin forms__cuentos($background-form) {
    background-color: $background-form;
    &__form {
        &__div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 5rem;
            font-family: $main-font;
            margin: 15rem;
            justify-content: space-evenly;
            align-items: space-evenly;
            &__syn {
                display: flex;
                flex-direction: row;
            }
            &__titulo {
                font-size: 7rem;
                font-family: $main-font;
            }
            label,
            input,
            textarea,
            button {
                margin: 5rem;
            }
        }
    }
}

@mixin texto__cuentos($background-cuentos, $background-image) {
    background-color: $background-cuentos;
    &__cuento {
        &__titulo {
            background-image: $background-image;
            background-size: cover;
            color: cornsilk;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-size: cover;
            font-family: $cuento-titu-font;
            h2 {
                margin: 3rem;
                font-size: 8rem;
            }
            h5 {
                margin: 3rem;
                font-size: 8rem;
            }
        }
        &__div {
            &__texto {
                margin: 10rem;
                max-width: 70%;
                max-height: 30%;
                min-width: 40%;
                position: relative;
                right: -15%;
                font-family: $main-font;
                font-size: 7rem;
                overflow: scroll;
            }
        }
    }
}

@mixin texto__cuentos600($background-cuentos, $background-image) {
    background-color: $background-cuentos;
    &__cuento {
        &__titulo {
            background-image: $background-image;
            background-size: cover;
            color: cornsilk;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-size: cover;
            font-family: $cuento-titu-font;
            h2 {
                margin: 3rem;
                font-size: 8rem;
            }
            h5 {
                margin: 3rem;
                font-size: 8rem;
            }
        }
        &__div {
            &__texto {
                margin: 10rem;
                max-width: 70%;
                max-height: 30%;
                min-width: 40%;
                position: relative;
                right: -10%;
                font-family: $main-font;
                font-size: 7rem;
                overflow: scroll;
            }
        }
    }
}

@mixin forms__cuentos600($background-form) {
    background-color: $background-form;
    &__form {
        &__div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 5rem;
            font-family: $main-font;
            margin: 15rem;
            justify-content: space-evenly;
            align-items: space-evenly;
            &__syn {
                display: flex;
                flex-direction: row;
            }
            &__titulo {
                font-size: 7rem;
                font-family: $main-font;
            }
            label,
            input,
            textarea,
            button {
                margin: 5rem;
            }
        }
    }
}

@mixin texto__cuentos400($background-cuentos, $background-image) {
    background-color: $background-cuentos;
    &__cuento {
        &__titulo {
            background-image: $background-image;
            background-size: cover;
            color: cornsilk;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-size: cover;
            font-family: $cuento-titu-font;
            h2 {
                margin: 3rem;
                font-size: 8rem;
            }
            h5 {
                margin: 3rem;
                font-size: 8rem;
            }
        }
        &__div {
            &__texto {
                margin: 13rem;
                max-width: 85%;
                max-height: 30%;
                position: relative;
                right: 0%;
                font-family: $main-font;
                font-size: 5.5rem;
                overflow: scroll;
            }
        }
    }
}

@mixin forms__cuentos400($background-form) {
    .cuento__form__section {
        grid-area: form__comandante;
        background-color: rgba(189, 189, 189, 0.378);
        &__form {
            &__div {
                display: flex;
                flex-direction: column;
                font-size: 5rem;
                font-family: $main-font;
                margin: 15rem;
                &__titulo {
                    font-size: 7rem;
                    font-family: $main-font;
                }
            }
        }
    }
}

//==============
// ==IMPORTS========
// ======IMPORTS INDEX========
@import "../scss/index/index__grillas.scss";
@import "../scss/index/index__fotos.scss";
@import "../scss/index/index__rec.scss";
@import "../scss/index/form__index.scss";
// ================IMPORTS INDEX------MQ========
@import "../media\ queries/MQ__index/MQ__index__filtro.scss";
@import "../media\ queries/MQ__index/MQ__index__rec.scss";
@import "../media\ queries/MQ__index/MQ__index__grillas.scss";
// ======IMPORTS SECCION MUSICA========
@import "../scss/musica/musica__form.scss";
@import "../scss/musica/musica__grillas.scss";
@import "../scss/musica/musica__rec.scss";
// ======IMPORTS SECCION CINE========
@import "../scss/cine/cine__grillas.scss";
@import "../scss/cine/cine__form.scss";
@import "../scss/cine/cine__recomendados.scss";
// ================IMPORTS SECCION CINE------MQ========
@import "../scss/media\ queries/MQ__cine/MQ__cine__filtro.scss";
@import "../scss/media\ queries/MQ__cine/MQ__cine__grillas.scss";
@import "../scss/media\ queries/MQ__cine/MQ__cine__rec.scss";
// ================IMPORTS HEADER Y FOOTER------MQ========
@import "../media\ queries/MQ__musica/MQ__musica__grillas.scss";
@import "../media\ queries/MQ__musica/MQ__musica__rec.scss";
@import "../media\ queries/MQ__musica/MQ__musica__filtro.scss";
// ======IMPORTS SECCION SOBRE NOSOTROS========
@import "../scss/Sobre\ Nosotros/nuestro__equipo.scss";
@import "../scss/Sobre\ Nosotros/sobre__nosotros__grillas.scss";
@import "../scss/Sobre\ Nosotros/sobre__nosotros__texto.scss";
// ================IMPORTS SOBRE NOSOTROS------MQ========
@import "../scss/media\ queries/MQ__sn/MQ__sn__equipo.scss";
@import "../scss/media\ queries/MQ__sn/MQ__sn__grillas.scss";
@import "../scss/media\ queries/MQ__sn/MQ__sn__texto.scss";
// ======IMPORTS SECCION LITERATURA========
@import "../scss/lit/lit__filtro.scss";
@import "../scss/lit/lit__grillas.scss";
@import "../scss/lit/lit__recomendados.scss";
// ================IMPORTS SECCION LIT------MQ========
@import "../scss/media\ queries/MQ__lit/MQ__lit__filtro.scss";
@import "../scss/media\ queries/MQ__lit/MQ__lit__grillas.scss";
@import "../scss/media\ queries/MQ__lit/MQ__lit__rec.SCSS";
// ======IMPORTS SECCION QUERES SER PARTE========
@import "../scss/queres\ ser\ parte/qsp__form.scss";
@import "../scss/queres\ ser\ parte/qsp__grillas.scss";
@import "../scss/queres\ ser\ parte/qsp__img.scss";
@import "../scss/queres\ ser\ parte/qsp__Texto.scss";
// ======IMPORTS HEADER Y FOOTER========
@import "../scss/header.scss";
@import "../scss/footer.scss";
// ================IMPORTS HEADER Y FOOTER------MQ========
@import "../media\ queries/MQ__header.scss";
@import "../media\ queries/MQ__footer.scss";
// ======IMPORTS QUERES SER PARTE========
@import "../scss/queres\ ser\ parte/qsp__grillas.scss";
@import "../scss/queres\ ser\ parte/qsp__form.scss";
@import "../scss/queres\ ser\ parte/qsp__texto.scss";
@import "../scss/queres\ ser\ parte/qsp__img.scss";
// ======IMPORTS QUERES SER PARTE========------MQ========
@import "../scss/media\ queries/MQ__qsp/MQ__qsp__form.scss";
@import "../scss/media\ queries/MQ__qsp/MQ__qsp__grillas.scss";
@import "../scss/media\ queries/MQ__qsp/MQ__qsp__img.scss";
@import "../scss/media\ queries/MQ__qsp/MQ__qsp__text.scss";
// ======RESTANTES POR ORDENAR========
@import "../scss/media\ queries/media__queries__todo.scss";
// ======IMPORTS CONTENIDO========
@import "../scss/contenido/carlos.scss";
@import "../scss/contenido/comandante.scss";
@import "../scss/contenido/normal.scss";
// ======IMPORTS CONTENIDO========------MQ========
@import "../scss/media\ queries/MQ__contenido/MQ__comandante.scss";
@import "../scss/media\ queries/MQ__contenido/MQ__carlos.scss";
@import "../scss/media\ queries/MQ__contenido/MQ__normal.scss";