.root__element {
    font-size: 3px;
}

#grilla__qsp {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-areas: "header" "main__qsp" "footer";
    grid-template-rows: 15% auto 10%;
    grid-template-columns: 100%;
}

#grilla__qsp2 {
    min-width: 100%;
    min-height: 100%;
    grid-area: main__qsp;
    display: grid;
    grid-template-areas: "texto__qsp texto__qsp" "form__qsp foto__qsp";
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
}