@import "../queres\ ser\ parte/qsp__form.scss";
@import "../queres\ ser\ parte/qsp__Texto.scss";
@import "../queres\ ser\ parte/qsp__img.scss";
#grilla__qsp {
    display: grid;
    grid-template-areas: "texto texto texto" "form form img" "form form img";
    grid-template-rows: 200px 900px auto;
    grid-template-columns: 250px 400px 695px;
}