.root__element {
    font-size: 3px;
}

.form__qsp {
    overflow: scroll;
    font-family: $main-font;
    grid-area: form__qsp;
    background-color: rgba(212, 177, 163, 0.178);
    background-image: url("../imagenes/qsp__bg__form.png");
    background-size: cover;
    form {
        input {
            font-size: 4.5rem;
        }
    }
    #nya--text,
    #basic-addon3,
    #gen,
    #ce--text,
    #bot--text,
    #exampleFormControlInput1,
    #tyc {
        font-size: 4.3rem;
    }
    #bot {
        width: 20rem;
        height: 10rem;
        position: Relative;
        right: -50%;
    }
    #gen {
        margin-top: 5rem;
    }
    #sobre {
        font-size: 4.3rem;
    }
    .tu__proyecto {
        font-size: 3.5rem;
    }
    .form__qsp__titulo {
        @include titulos(0%);
        font-size: 10rem;
    }
    #ana {
        display: flex;
        flex-direction: row;
        input {
            margin: 2rem;
        }
    }
    &__div {
        label {
            font-size: 4.3rem;
        }
        background-color: rgba(212,
        177,
        163,
        0.459);
        margin: 3rem;
        position: relative;
        right: -10%;
        width: 80%;
        form {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: space-between;
            justify-content: space-evenly;
            height: auto;
            margin: 10rem;
            padding: 10rem;
        }
        form p,
        label,
        input {
            padding: 8px;
        }
    }
}