.img__qsp {
    grid-area: foto__qsp;
    background-color: white;
    background-image: url("../imagenes/qsp__bg__img.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;
    img {
        margin: 20rem;
        margin-top: 30rem;
        max-width: 180rem;
    }
}

.root__element {
    font-size: 3px;
}