@media (min-width: 0px) and (max-width:420px) {
    #grilla__index {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-areas: "header" "main__index" "footer";
        grid-template-rows: 14% auto 10%;
        grid-template-columns: 100%;
    }
    #main__index {
        grid-area: main__index;
        width: 100%;
        display: grid;
        grid-template-areas: "foto" "form" "recomendados";
        grid-template-rows: 10% 45% auto;
        grid-template-columns: 100%;
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .root__element {
        font-size: 3px;
    }
    #grilla__index {
        display: grid;
        grid-template-areas: "header" "main__index" "footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: auto;
    }
    #main__index {
        grid-area: main__index;
        width: 100%;
        display: grid;
        grid-template-areas: "foto" "form" "recomendados";
        grid-template-rows: 130rem 310rem auto;
        grid-template-columns: auto;
    }
}