@media (min-width: 0px) and (max-width:420px) {
    .root__element {
        font-size: 3px;
    }
    .index__form {
        grid-area: form;
        background-image: url("../imagenes/index__bg__form1.png");
        background-size: cover;
        background-position: center;
        width: auto;
        height: auto;
        margin: 0px;
        &__titulo1 {
            @include titulos300(0%);
            // font-family: $titles-font, cursive;
            // font-size: 10rem;
            // position: relative;
            // right: -15%;
            // top: 0%;
        }
        &__form {
            @include forms300(rgba(212, 177, 163, 0.178));
            // display: flex;
            // flex-direction: column;
            // flex-wrap: nowrap;
            // font-family: $main-font;
            // justify-content: center;
            // align-items: center;
            // font-size: 5rem;
            // background-color: rgba(212, 177, 163, 0.178);
            // border-radius: 10px;
            // height: auto;
            &__qb {
                @include qb300;
                // display: block;
                // font-size: 5rem;
                // margin: 0rem;
            }
            &__pc {
                @include qb-input300;
                // padding: 3rem;
                // border-color: darkgray;
                // border-radius: 30px;
                // width: 50rem;
                // margin: 8rem;
                &:hover {
                    background-color: #ffd90085;
                }
            }
            &__checkbox {
                @include checkboxes300;
                // list-style-type: none;
                // display: flex;
                // margin: 8rem;
            }
            // &__checkbox input {
            //     margin: 3rem;
            // }
            &__button {
                @include botones300(0%,
                0%,
                rgba(255, 172, 172, 0.58));
                // width: 25rem;
                // height: 10rem;
                // background-color: rgba(255, 172, 172, 0.58);
                // border-radius: 70px;
                &:hover {
                    background-color: gold;
                    color: floralwhite;
                }
            }
            &__genero {
                @include dropdown300;
                // &__dropdown {
                //     padding: 2rem;
                //     width: 30rem;
                //     select:hover {
                //         background-color: #fcdc27b7;
                //     }
            }
        }
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .root__element {
        font-size: 3px;
    }
    .index__form {
        grid-area: form;
        background-image: url("../imagenes/index__bg__form1.png");
        background-size: cover;
        background-position: center;
        width: auto;
        height: auto;
        margin: 0px;
        &__titulo1 {
            @include titulos600(-5%);
        }
        &__form {
            @include forms600(rgba(212,
            177,
            163,
            0.178));
            &__qb {
                font-size: map-get($tam-letra-600, qb);
                margin: 0rem;
            }
            &__pc {
                @include qb-input600;
            }
            &__checkbox {
                @include checkboxes600;
            }
            &__button {
                @include botones600(0%,
                0%,
                rgba(255,
                172,
                172,
                0.58));
            }
            &__genero {
                @include dropdown600;
                &__dropdown select:hover {
                    background-color: #fcdc27b7;
                }
            }
        }
        &__button:hover {
            background-color: gold;
            color: floralwhite;
        }
        &__pc:hover {
            background-color: #ffd90085;
        }
    }
    .fotos__index {
        width: auto;
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    .root__element {
        font-size: 3px;
    }
    .index__form {
        grid-area: form;
        &__titulo1 {
            @include titulos1000(-30%);
            width: 40%;
        }
        &__form {
            @include forms1000(rgba(212,
            177,
            163,
            0.178));
            &__qb {
                font-size: map-get($tam-letra-1000, qb);
                margin: 0rem;
            }
            &__pc {
                @include qb-input1000;
            }
            &__checkbox {
                @include checkboxes1000;
            }
            &__button {
                @include botones1000(0%,
                0%,
                rgba(255,
                172,
                172,
                0.58));
            }
            &__genero {
                @include dropdown1000;
            }
        }
    }
    .fotos__index {
        width: auto;
    }
}