@media (min-width: 0px) and (max-width:420px) {
    .contenido__cine {
        overflow: scroll;
        &__div__titulo {
            @include titulos300(-5%);
        }
        .contenido__cine__div {
            margin-right: 2%;
            width: 80%;
            position: relative;
            right: 6%;
            &__div2 {
                &__cortos {
                    @include contenidos300;
                    display: flex;
                    flex-direction: column;
                }
                &__series {
                    @include contenidos300;
                    display: flex;
                    flex-direction: column;
                }
                &__skits {
                    @include contenidos300;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .contenido__cine {
        overflow: scroll;
        &__div__titulo {
            @include titulos600(-20%);
        }
        &__div__div2 {
            position: relative;
            right: -20%;
            &__cortos {
                @include contenidos600;
                display: flex;
                flex-direction: column;
            }
            &__series {
                @include contenidos600;
                display: flex;
                flex-direction: column;
            }
            &__skits {
                @include contenidos600;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    .contenido__cine {
        &__div {
            min-width: 90%;
            min-height: 50%;
            position: relative;
            right: 5%;
            margin: 8%;
            &__titulo {
                @include titulos1000(-40%);
            }
            &__div2 {
                &__cortos {
                    &__titulo {
                        @include cont__titulos1000(-40%);
                    }
                    @include contenidos1000;
                    display: flex;
                    flex-direction: row;
                }
                &__series {
                    &__titulo {
                        @include cont__titulos1000(-40%);
                    }
                    @include contenidos1000;
                    display: flex;
                    flex-direction: row;
                }
                &__skits {
                    &__titulo {
                        @include cont__titulos1000(-40%);
                    }
                    @include contenidos1000;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}