/* *************Seccion LITERATURA*********************** */

@import "../lit/lit__recomendados.scss";
@import "../lit/lit__filtro.scss";
$main-font: "Josefin Sans";
$titles-font:'Indie Flower';
$logo-font:'Permanent Marker';
#grilla__lit {
    height: 100%;
    display: grid;
    grid-template-areas: "header" "main__lit" "footer";
    grid-template-rows: 15% auto 10%;
    grid-template-columns: 100%;
}

#main__lit {
    grid-area: main__lit;
    display: grid;
    grid-template-areas: "filtro__lit" "contenido__lit";
    grid-template-rows: 45% auto;
    grid-template-columns: 100%;
}

.root__element {
    font-size: 3px;
}