$tam-letra-100:(titulos:15rem, forms:5rem, headyfoot:7rem, qb:12rem);
// ===Esta pagina contiene el formulario en la parte superior de la seccion LITERATURA====
.filtro__lit {
    grid-area: filtro__lit;
    background-image: url("../imagenes/lit__bg__form.png");
    background-size: cover;
    &__titulo1 {
        //     font-family: $titles-font, cursive;
        //     font-size: $titulos;
        //     position: relative;
        //     right: -35%;
        @include titulos(-20%);
    }
    &__form {
        &__div {
            @include forms(rgba(251, 255, 18, 0.268));
            position: relative;
            right: -5%;
            &__qb {
                font-size: map-get($tam-letra-100, qb);
                font-style: $main-font;
                margin: 3rem;
            }
            &__qbinput {
                @include qb-input;
                // width: 30%;
                // border-radius: 30px;
            }
            &__checkbox {
                @include checkboxes;
            }
            &__div2__dropdown {
                @include dropdown;
                margin: 3rem;
            }
            button:hover,
            select:hover,
            input:hover {
                background-color: gold;
            }
            button {
                @include botones(0%,
                0%,
                rgba(240, 186, 154, 0.58));
                //     background-color: rgba(240, 186, 154, 0.58);
                //     width: 100px;
                //     padding: 5px;
            }
        }
    }
}