body .recomendados__lit {
    grid-area: contenido__lit;
    background-image: url("../imagenes/lit__bg__rec.png");
    background-size: cover;
    &__titulo2 {
        @include titulos(-40%);
    }
    // #carouselExampleCaptions {
    //     width: 500rem;
    //     height: 500rem;
    // }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 15rem;
    height: 15rem;
}

#carousel-indicators {
    button {
        width: 4rem;
        height: 4rem;
    }
}

#carousel1 {
    border: 2rem outset rgba(222, 226, 1, 0.501);
    width: auto;
    height: auto;
    max-width: 300rem;
    max-height: 110rem;
    position: relative;
    right: -15%;
}

.carousel-item {
    h5 {
        font-size: 8rem;
        font-family: $main-font;
    }
    p {
        font-size: 6rem;
        font-family: $main-font;
    }
    img {
        max-width: 300rem;
        max-height: 100rem;
        object-fit: cover;
    }
}

// 
// &__contenido {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: space-around;
//     font-family: $titles-font;
//     &__normal {
//         h3 {
//             @include titulos__cuentos;
//         }
//         h4 {
//             @include subtitulos__cuentos;
//         }
//         img {
//             @include imagenes__cuentos;
//         }
//     }
//     &__comandante {
//         h3 {
//             @include titulos__cuentos;
//         }
//         h4 {
//             @include subtitulos__cuentos;
//         }
//         img {
//             @include imagenes__cuentos;
//         }
//     }
//     &__carlos {
//         h3 {
//             @include titulos__cuentos;
//         }
//         h4 {
//             @include subtitulos__cuentos;
//         }
//         img {
//             @include imagenes__cuentos;
//         }
//     }
// }