body .recomendados__lit {
    grid-area: contenido__lit;
    background-image: url("../imagenes/mountain.png");
    background-size: cover;
    display: Grid;
    grid-template-areas: ". titulo ." "contenido contenido contenido";
    grid-template-rows: 100px 400px;
    grid-template-columns: 300px 300px 300px;
    position: relative;
    top: -2px;
    width: 1002px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 30%;
    }
    &__titulo2 {
        grid-area: contenido;
        font-family: $titles-font, cursive;
        font-size: 60px;
        position: relative;
        right: 50%;
    }
    &__contenido {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        grid-area: contenido;
        position: relative;
        top: -30px;
        font-family: $main-font;
        &__normal {
            h3 {
                position: Relative;
                top: 0px;
                right: -50px;
            }
            h4 {
                position: Relative;
                top: 0px;
                right: -30px;
            }
        }
        &__comandante {
            h3 {
                position: Relative;
                top: 0px;
                right: -50px;
            }
            h4 {
                position: Relative;
                top: 0px;
                right: -30px;
            }
        }
        &__carlos {
            h3 {
                position: Relative;
                top: 0px;
                right: -50px;
            }
            h4 {
                position: Relative;
                top: 0px;
                right: -30px;
            }
        }
    }
}