.root__element {
    font-size: 3px;
}

.filtro__lit {
    grid-area: filtro__lit;
    background-image: url("../imagenes/lit__bg__form.png");
    background-size: cover;
    &__titulo1 {
        font-family: $titles-font, cursive;
        font-size: $titulos;
        position: relative;
        right: -35%;
    }
    button,
    select,
    input {
        border-radius: 30%;
        margin: 10px;
    }
    button:hover,
    select:hover,
    input:hover {
        background-color: gold;
    }
    button {
        background-color: rgba(240, 186, 154, 0.58);
        width: 100px;
        padding: 5px;
    }
    &__form {
        list-style: none;
        margin-left: 40rem;
        margin-right: 40rem;
        margin-top: 20rem;
        margin-bottom: 20rem;
        background-color: rgba(251, 255, 18, 0.268);
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        font-family: $main-font;
        font-size: 5rem;
        &__div {
            &__qb {
                font-size: 8rem;
                position: relative;
                right: 0%;
                margin: 4rem;
            }
            &__checkbox {
                list-style: none;
                display: flex;
                flex-direction: row;
                margin: 3rem;
            }
        }
    }
}