@media (min-width: 0px) and (max-width:420px) {
    #grilla__musica {
        display: grid;
        grid-template-areas: "header" "main__musica" "footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 100%;
    }
    #main__musica {
        grid-area: main__musica;
        display: grid;
        grid-template-areas: "form__musica" "musica__recomendada";
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 100%;
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    #grilla__musica {
        display: grid;
        grid-template-areas: "header" "main__musica" "footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 100%;
    }
    #main__musica {
        grid-area: main__musica;
        display: grid;
        grid-template-areas: "form__musica" "musica__recomendada";
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    html,
    body {
        min-height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        padding-bottom: 1px;
        border: 1px solid transparent;
    }
    #grilla__musica {
        display: grid;
        grid-template-areas: "header" "main__musica" "footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 100%;
    }
    #main__musica {
        grid-area: main__musica;
        display: grid;
        grid-template-areas: "form__musica" "musica__recomendada";
        grid-template-rows: 0.7fr 1fr;
        grid-template-columns: 100%;
    }
}