@media (min-width: 0px) and (max-width:420px) {
    .root__element {
        font-size: 3px;
    }
    .indie__arg {
        font-size: map-get($tam-letra-300, logo);
    }
    header {
        width: 100%;
        height: auto;
        // background-color: map-get($fondos, header);
        grid-area: header;
        nav {
            background-color: rgba(201, 0, 0, 0.39);
            width: 100%;
            height: auto;
        }
    }
    .elementos__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 40%;
        position: relative;
        right: 0%;
        ul {
            display: flex;
            flex-direction: column;
            font-family: $main-font;
            font-size: map-get($tam-letra-300, headyfoot);
            .home__mp {
                font-family: $main-font;
                font-size: map-get($tam-letra-300, headyfoot);
            }
            li {
                list-style-type: none;
                padding: 10px
            }
        }
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .elementos__header ul {
        display: flex;
        flex-direction: row;
        font-family: $main-font;
        font-size: map-get($tam-letra-600, headyfoot);
    }
    .home__mp {
        font-family: $main-font;
        font-size: map-get($tam-letra-600, headyfoot);
    }
    header {
        width: 100%;
        nav {
            width: 100%;
            height: auto;
        }
    }
    .elementos__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 80%;
        position: relative;
        right: -8%;
    }
    .elementos__header ul li {
        list-style-type: none;
        padding: 10px;
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    .elementos__header ul {
        display: flex;
        flex-direction: row;
        font-family: $main-font;
        font-size: map-get($tam-letra-1000, headyfoot);
        .home__mp {
            font-family: $main-font;
            font-size: map-get($tam-letra-1000, headyfoot);
        }
    }
    header {
        width: 100%;
        nav {
            width: 100%;
            height: auto;
        }
    }
    .elementos__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        max-width: 90%;
        position: relative;
        right: -8%;
    }
    .elementos__header ul li {
        list-style-type: none;
        padding: 10px;
        padding: 10px;
    }
}