// ===Esta pagina contiene el formulario en la parte superior de la seccion MUSICA====
.form__musica {
    grid-area: form__musica;
    background-image: url("../imagenes/music__bg__form.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: auto;
    &__titulo {
        @include titulos(-35%);
    }
    &__form {
        &__div {
            @include forms(rgba(41, 206, 69, 0.288));
            &__genero {
                @include dropdown;
            }
            &__qb {
                font-size: map-get($tam-letra-100, qb);
                margin: 4rem;
                font-style: $main-font;
            }
            &__button {
                @include botones(0%,
                0%,
                rgba(48, 165, 19, 0.637));
            }
            button:hover,
            select:hover,
            input:hover {
                background-color: gold;
            }
            &__pc {
                @include qb-input;
            }
        }
    }
}