body .musica__recomendada {
    grid-area: musica__recomendada;
    background-image: url("../imagenes/music__bg__rec.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding: 50px;
    font-family: $main-font;
    height: auto;
    width: 100%;
    &__titulo {
        @include titulos(-30%);
    }
    &__div {
        background-color: rgba(41, 206, 69, 0.288);
        padding: 40px;
        border-radius: 8%;
    }
    &__div__IWLG,
    &__div__MN,
    &__div__OL {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        audio {
            height: 40px;
            width: 200px;
            margin: 3rem;
        }
        h5 {
            font-size: 7rem;
            margin: 3rem;
        }
        img {
            width: 50rem;
            height: 40rem;
        }
    }
}