body .form__musica {
    background-image: url("../imagenes/music__bg__form.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: auto;
    h4 {
        font-family: $titles-font, cursive;
        font-size: 40px;
        position: Relative;
        right: -35%;
        padding: 20px;
    }
    input {
        width: 300px;
    }
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: rgba(41, 206, 69, 0.288);
        padding: 40px;
        font-family: $main-font;
        font-size: 20px;
        /* align-content:center; */
        border-radius: 10%;
        width: auto;
        input,
        button,
        select {
            border-radius: 40%;
            margin: 10px;
        }
        button {
            background-color: rgba(48, 165, 19, 0.637);
            width: 80px;
            padding: 3px;
            position: relative;
            right: -30px;
        }
        button:hover,
        select:hover,
        input:hover {
            background-color: gold;
        }
        input,
        select,
        button {
            font-size: 15px;
        }
    }
    &__div {
        padding: 50px;
        &__qb {
            font-size: 35px;
        }
        &__genero {
            position: relative;
            top: 10px;
        }
    }
}