/* grilla musica*/

@import "../musica/musica__form.scss";
@import "../musica/musica__rec.scss";
#grilla__musica {
    display: grid;
    grid-template-areas: "header" "main__musica" "footer";
    grid-template-rows: 2fr auto 1fr;
    grid-template-columns: 100%;
}

#main__musica {
    grid-area: main__musica;
    display: grid;
    grid-template-areas: "form__musica" "musica__recomendada";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}