/* grilla musica*/

@import "../musica/musica__form.scss";
@import "../musica/musica__rec.scss";
#grilla__musica {
    display: grid;
    grid-template-areas: "header header header" "main__musica main__musica main__musica" "footer footer footer";
    grid-template-rows: 90px auto 100px;
    grid-template-columns: 1fr 3fr auto;
}

#main__musica {
    grid-area: main__musica;
}