@media (min-width: 0px) and (max-width:420px) {
    .sobre__nosotros {
        grid-area: texto;
        font-family: $main-font, sans-serif;
        font-size: 13px;
        background-color: #9c716d7c;
        height: auto;
        width: auto;
        background-image: url("../imagenes/sn__bg__1.png");
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        &__texto {
            font-size: 6rem;
        }
        &__titulo {
            @include titulos300(-5%);
            font-size: 9rem;
            max-width: 90%;
        }
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .sobre__nosotros {
        &__texto {
            font-size: 10rem;
        }
        &__titulo {
            @include titulos600(0%);
            font-size: 15rem;
            max-width: 90%;
        }
    }
}