                        @media (min-width: 0px) and (max-width:420px) {
                            .root__element {
                                font-size: 3px;
                            }
                            #carousel1 {
                                width: 70%;
                                position: relative;
                                right: -18%;
                            }
                            .recomendados__lit {
                                max-width: 100%;
                                h3 {
                                    @include titulos300(-20%);
                                }
                            }
                            #carousel1 {
                                border: 2rem outset rgba(222, 226, 1, 0.501);
                                width: auto;
                                height: auto;
                                min-height: 100rem;
                                max-width: 130rem;
                                max-height: 400rem;
                                position: relative;
                                right: 0%;
                                margin-bottom: 2rem;
                            }
                            .carousel-item {
                                h5 {
                                    font-size: 8rem;
                                    font-family: $main-font;
                                }
                                p {
                                    font-size: 6rem;
                                    font-family: $main-font;
                                }
                                img {
                                    height: 100%;
                                    min-height: 100rem;
                                    max-width: 300rem;
                                    max-height: 100rem;
                                    object-fit: cover;
                                }
                            }
                        }
                        
                        @media (min-width: 421px) and (max-width: 600px) {
                            .root__element {
                                font-size: 3px;
                            }
                            .recomendados__lit {
                                grid-area: recomendados;
                                background-image: url("../imagenes/index__bg__rec.png");
                                background-size: contain;
                                background-position: center;
                                width: auto;
                                h3 {
                                    @include titulos600(-17%);
                                    margin: 5rem;
                                }
                            }
                            #carousel1 {
                                background-color: rgba(255, 235, 205, 0.392);
                                border: 2rem outset rgba(222, 226, 1, 0.501);
                                min-width: 90%;
                                min-height: 200rem;
                                max-width: 200rem;
                                max-height: 400rem;
                                position: relative;
                                right: 0%;
                                margin-bottom: 2rem;
                            }
                            .carousel-item {
                                .carousel-caption {}
                                img {
                                    min-width: 100%;
                                    min-height: 200rem;
                                }
                                position: relative;
                                right: 0%;
                            }
                        }
                        
                        @media (min-width: 601px) and (max-width: 1300px) {
                            .root__element {
                                font-size: 3px;
                            }
                            .recomendados__lit {
                                max-width: 100%;
                                h3 {
                                    @include titulos1000(-40%);
                                }
                            }
                            #carousel1 {
                                background-color: rgba(255, 235, 205, 0.392);
                                border: 2rem outset rgba(222, 226, 1, 0.501);
                                min-width: 90%;
                                max-width: 130rem;
                                max-height: 400rem;
                                position: relative;
                                right: -5%;
                                margin-bottom: 2rem;
                            }
                            .carousel-item {
                                .carousel-caption {}
                                img {
                                    min-width: 100%;
                                }
                                position: relative;
                                right: 0%;
                            }
                        }