@media (min-width: 0px) and (max-width:360px) {
    #grilla__lit {
        display: grid;
        grid-template-areas: "header" "main__lit" "footer";
        grid-template-rows: 70% auto 20%;
        grid-template-columns: 100%;
    }
    #main__lit {
        grid-area: main__lit;
        display: grid;
        grid-template-areas: "filtro__lit" "contenido__lit";
        grid-template-rows: 75% 50%;
        grid-template-columns: 100%;
    }
}

@media (min-width: 361px) and (max-width: 600px) {
    .root__element {
        font-size: 3px;
    }
    #grilla__lit {
        display: grid;
        grid-template-areas: "header" "main__lit" "footer";
        grid-template-rows: 20% auto 20%;
        grid-template-columns: 100%;
    }
    #main__lit {
        grid-area: main__lit;
        display: grid;
        grid-template-areas: "filtro__lit" "contenido__lit";
        grid-template-rows: 3fr 3fr;
        grid-template-columns: 100%;
    }
}