@media (min-width: 0px) and (max-width:420px) {
    #grilla__lit {
        min-width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-areas: "header" "main__lit" "footer";
        grid-template-rows: 28% auto 10%;
        grid-template-columns: 100%;
    }
    #main__lit {
        grid-area: main__lit;
        display: grid;
        min-width: 100%;
        grid-template-areas: "filtro__lit" "contenido__lit";
        grid-template-rows: 63% 60%;
        grid-template-columns: 100%;
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .root__element {
        font-size: 3px;
    }
    #grilla__lit {
        display: grid;
        grid-template-areas: "header" "main__lit" "footer";
        grid-template-rows: 20% auto 20%;
        grid-template-columns: 100%;
    }
    #main__lit {
        grid-area: main__lit;
        display: grid;
        grid-template-areas: "filtro__lit" "contenido__lit";
        grid-template-rows: 3fr 3fr;
        grid-template-columns: 100%;
    }
}