@media (min-width: 0px) and (max-width:420px) {
    .filtro__lit {
        grid-area: filtro__lit;
        &__titulo1 {
            @include titulos300(-5%);
        }
        &__form {
            &__div {
                @include forms300(rgba(251, 255, 18, 0.268));
                margin-right: 15%;
                &__qb {
                    font-size: map-get($tam-letra-300, qb);
                    font-style: $main-font;
                }
                &__qbinput {
                    @include qb-input300;
                    // width: 30%;
                    // border-radius: 30px;
                }
                &__checkbox {
                    @include checkboxes300;
                }
                &__div2__dropdown {
                    @include dropdown300;
                }
                button:hover,
                select:hover,
                input:hover {
                    background-color: gold;
                }
                button {
                    @include botones300(0%, 0%, rgba(240, 186, 154, 0.58));
                }
            }
        }
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    .filtro__lit {
        grid-area: filtro__lit;
        &__titulo1 {
            @include titulos600(-35%);
        }
        &__form {
            &__div {
                @include forms600(rgba(251, 255, 18, 0.268));
                &__qb {
                    font-size: map-get($tam-letra-600, qb);
                    font-style: $main-font;
                }
                &__qbinput {
                    @include qb-input600;
                }
                &__checkbox {
                    @include checkboxes600;
                }
                &__div2__dropdown {
                    @include dropdown600;
                }
                button:hover,
                select:hover,
                input:hover {
                    background-color: gold;
                }
                button {
                    @include botones600(0%, 0%, rgba(240, 186, 154, 0.58));
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 1300px) {
    .filtro__lit {
        grid-area: filtro__lit;
        &__titulo1 {
            @include titulos1000(-27%);
        }
        &__form {
            &__div {
                @include forms1000(rgba(251, 255, 18, 0.268));
                margin: 10rem;
                position: relative;
                right: 0%;
                &__qb {
                    font-size: map-get($tam-letra-1000, qb);
                    font-style: $main-font;
                }
                &__qbinput {
                    @include qb-input1000;
                }
                &__checkbox {
                    @include checkboxes1000;
                }
                &__div2__dropdown {
                    @include dropdown1000;
                }
                button {
                    @include botones1000(0%, 0%, rgba(240, 186, 154, 0.58));
                }
            }
        }
    }
}