.sobre__nosotros {
    grid-area: texto;
    font-family: $main-font, sans-serif;
    font-size: 13px;
    background-color: #9c716d7c;
    height: auto;
    width: auto;
    background-image: url("../imagenes/sn__bg__1.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    &__texto {
        font-family: $main-font, sans-serif;
        text-align: justify;
        width: auto;
        padding: 20px;
        font-size: 23px;
    }
    &__titulo {
        @include titulos(0%);
    }
}