.recomendados {
    grid-area: recomendados;
    background-image: url("../imagenes/index__bg__rec.png");
    background-size: contain;
    background-position: center;
    width: auto;
    &__titulo {
        font-family: $titles-font, cursive;
        font-size: $titulos;
        position: relative;
        right: -35%;
        top: 0%;
        padding: 10rem;
    }
    &__elementos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(212, 177, 163, 0.5);
        justify-content: space-evenly;
        font-family: $main-font;
        position: relative;
        top: 0px;
        margin: 10rem;
        h6 {
            font-size: 4rem;
            margin: 3rem;
            margin-bottom: 9rem;
            position: relative;
            top: 4%;
            right: 0%;
            color: darkgrey;
        }
        h4 {
            padding: 1px;
            position: relative;
            top: 4%;
            font-size: 5rem;
        }
        img {
            width: 280px;
            height: 180px;
            padding: 10px;
        }
        li {
            display: inline-block;
        }
        & img:hover {
            border: 2px inset #ffd700;
            width: 350px;
            height: 200px;
        }
    }
}