/*****body generales todo****/

body{
    margin:0;
    padding:0;
    height: 100vh;
    overflow-x:hidden;
}
body{
    display:flex;
    flex-direction:column;
    
    }

    body a{
        text-decoration:none;
        }
        
        body a:visited{
            color:slategrey;
            }


/***** header todos ****/
.indie__arg{

    font-family: 'Permanent Marker', cursive;
    font-size:30px;
    position:relative;
    right:0px;
    padding:10px;
        
}

header {
    width:100%;
    height:90px;
    background-color:#ffffff85;
    grid-area:header;
    }
/* barra de navegacion */
header nav{
    background-color: rgba(201, 0, 0, 0.39); 
    width:auto;
    height:40px;
    position:relative;
    top:-15px;
    right:0px;
    }

/* elementos de la barra de navegacion (opciones)
    header nav ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:nowrap;
    border-width:5px;
    border-color:green;
    position:relative;
    right:377px;
    bottom:18px;
    }
    
    header nav ul li{
        list-style-type:none;
    padding:22px 8px 50px 9px;
    font-family:"Josefin Sans";
    font-size:15px;
    
    }
    
    header nav ul li a{
        display:inline-block;
        color:black;
        border-color:black;
        border-style:solid;
        border-width:1px;
        padding:7px;
    }
    
    header nav ul li a:hover{
        color:floralwhite;
    } */

/********************INDEX pagina principal***********************/

/* filtro principal -- seccion 1 */

/* grid index */
#grilla__index {
    display:grid;
    grid-template-areas:
    "header header header"
    "main__index main__index main__index"
    "footer footer footer";
    grid-template-rows: 90px auto 100px;
    grid-template-columns: 3fr auto auto;
    } 

    #main__index{
grid-area:main__index;

    }

.form__section{
    
    background-image:url("../imagenes/index__bg__form.png");
    background-size:cover;
    background-position: center;
    /* position:relative;
    top:-3px;
   */
    width:auto; 
    height:600px;
    margin:0px;
    /* display:grid;
    grid-template-areas:
". titulo ."
". filtro .";
grid-template-columns: 400px 400px 400px;
grid-template-rows: 100px 310px; */
}

.titulo2__index{ 
    font-family:'Indie Flower', cursive;
    font-size:55px;
    position:relative;
right:-35%;
top:20%;
}

.titulo1__index{

    font-family:'Indie Flower', cursive;
    font-size:55px;
    position:relative;
    right:-35%;
    top:20%;
}



/* div creado para separar los inputs con display flex k */
    .filtro__principal__form{
display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    /* width:500px;
    height:450px;  */
    font-family:"Josefin Sans";
    justify-content:center;
    align-items:center;
    font-size:20px;
    background-color:rgba(212, 177, 163, 0.178);
    /* position:relative;
    left:350px;
    top:101px; */
    border-radius: 10px;
    position:relative;
    top:20%;
    }
    
    .que__buscas{
    display:block;
    font-size:30px;
    padding:24px;
    position:relative;
    right:-10px;
    }

    .filtro__principal__palabras__clave{
padding:11px;
border-color:darkgray;
border-radius:30px;
width:350px;

    }

    .filtro__principal__palabras__clave:hover{
background-color:#ffd90085;

    }
    
    .filtro__principal__form__checkbox{
    list-style-type:none;
    display:flex;
    }
    
    .filtro__principal__form__button{
width:90px;
height:40px;
        background-color: rgba(212, 110, 51, 0.58);
            border-radius:90px;
    position:relative;
    top:0px;
    right:-10px;
    }

    .filtro__principal__form__button:hover{
background-color: gold;
color:floralwhite;
            }

    
    .filtro__principal__form__button input[type=checkbox]:hover {
    background-color: gold;
    
            }

.genero {
    padding:24px;

}

.genero select:hover{
background-color:#fcdc27b7;
}

/* titulos de las secciones 1 y 2 del main */



/* seccion 2 del main. Recomendados */
.recomendados__background{
    grid-area: recomendados__background;
background-image: url("../imagenes/index__bg__rec.png");
background-size:contain;
background-position:center;
height:590px;
width:auto;
/* width:auto; */
/* position:relative;
top:-3px;
right:8px; */
}

/* elementos que apareceran recomendados */
.recomendados__elementos{
    
display:flex;
flex-direction:row;
flex-wrap:wrap;
background-color:rgba(212, 177, 163, 0.5);
justify-content:space-evenly;
font-family:"Josefin Sans";
position:relative;
top:30%;
}

.recomendados__elementos h4,h6{

font-size:13px;
padding:1px;
position:relative;
top:4%;
right:-32px;

}


.recomendados__elementos img{
  
width:280px;
height:180px;
padding:10px;
}

.recomendados__elementos img:hover{

border: 2px inset #ffd700;
width:350px;
height:200px;

}

.recomendados__elementos li{

    display:inline-block;
}



    /* ***************seccion CINE*************************** */

    #grilla__cine {

        display:grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-rows: 90px auto 100px;
        
        }
        
    
        #main__cine {
grid-area:main;
        }
/* 
        #grilla__cine__3{
        
            display:grid;
            grid-template-areas:
            "form__cine grilla2"
            "form__cine grilla2";
            grid-template-rows: 2fr 2fr;
            grid-template-columns: 300px 500px; 
        } */

        .form__cine{
           
            background-image: url("../imagenes/cine__bg__form2.png");
            background-position:Center;
            background-size:cover;
            padding:20px;
            width:100%;
                height:100%;  
        }

        /* /* #grilla__cine__2{
            width:100%;
            grid-area:grilla2;
            padding:20px;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            /* grid-template-areas:
            ". contenido ."
            "cortos cortos cortos"
            "skits skits skits"
            "series series series"; */
            /* grid-template-rows: 1fr 2fr 2fr 2fr;
            grid-template-columns: 3fr 3fr 3fr;  }    */
    

        .form__div__cine{
            background-color:rgba(211, 78, 223, 0.329);
            height:auto;
            display:flex;
            
            flex-direction:column;
            flex-wrap:wrap;
        align-items:center;
        font-family:"Josefin Sans";
        padding:20px;
        }

        
        .form__cine button,select,input{
        border-radius:30%;
        margin:10px;
        }
        
        .form__cine button:hover ,select:hover,input:hover{
        
            background-color: gold;
        
        }
        
        .form__cine button{
            background-color:rgba(245, 23, 197, 0.58);
            width: 100px;
            padding:5px;
        }
        
        .que__buscas__cine {

            padding:10px;
        }
        .checkbox {
        list-style-type:none;
        }
        
        /* seccion recomendados */
        .contenido{
            background-image: url("../imagenes/cine__bg__cont2.png");
        background-size:cover;
        background-position:center;
        background-repeat:repeat; 
            width:auto;
            height:auto;
        }




         .contenido__cine__div{
background-color:rgba(211, 78, 223, 0.329);


         }

        .titulo__contenido, .titulo__cine__filtro{
        grid-area:contenido;
        font-family:'Indie Flower', cursive;
        font-size:60px;
        position:relative;
        right:-500px;
        
        }
        
        .cortos img, .skits img, .series img{
            width:150px;
            height:80px;
            border:rgba(248, 62, 5, 0.158) solid 3px;
        }
        
        .cortos{
            font-family:'Indie Flower', cursive;
            font-size:40px;
                    display:flex;
                    flex-direction:row;
                flex-wrap:wrap;
                justify-content:space-around;
        grid-area:cortos;
        padding:10px;
        
                }
        
        .series{
            font-family:'Indie Flower', cursive;
            font-size:40px;
            display:flex;
                    flex-direction:row;
                    flex-wrap:wrap;
        justify-content:space-around;
            grid-area:series;
            padding:10px;
        }
        
        .skits{
            font-family:'Indie Flower', cursive;
            font-size:40px;
            display:flex;
            flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
        grid-area:skits;   
        padding:10px;   
        }
        
        .skits img:hover, .cortos img:hover, .series img:hover{
        
            border: 2px inset #ffd700;
            width:200px;
            height:100px;
            
            }

            /* *************Seccion LITERATURA*********************** */

            .recomendados__lit img{

                width:200px;
                height:200px;
                border-radius:30%;
            }
            
            
            #grilla__lit{
            display:grid;
            grid-template-areas:
            "header header"
            "filtro__lit recomendados__lit"
            "footer footer";
            grid-template-rows: 105px 400px 100px;
            grid-template-columns: 350px 1045px;
            }
            
            
            body .recomendados__lit{
            
                grid-area:recomendados__lit;
                background-image:url("../imagenes/mountain.png");
                background-size:cover;
            display:Grid;
            grid-template-areas:
            ". titulo ."
            "contenido contenido contenido";
            grid-template-rows: 100px 400px;
            grid-template-columns: 300px 300px 300px;
            position:relative;
            top:-2px;
            width:1002px;
            }
            
            .titulo__lit{
                grid-area:titulo;
                font-family:"Josefin Sans";
            }
            .contenido__lit{
            
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content: space-evenly;
                grid-area:contenido;
                position:relative;
                top:-30px;
                font-family:"Josefin Sans";
            }
            
            .normal h3{
            position:Relative;
            top:0px;
            right:-50px;
            
            }
            
            .normal h4{
                position:Relative;
                top:0px;
                right:-30px;
                
                }
            
            
            .comandante__lit h3{
                position:Relative;
                top:0px;
                right:-50px;
                
                }
            
                .comandante__lit h4{
                    position:Relative;
                    top:0px;
                    right:-30px;
                    
                    }
            
                .carlos h3{
                    position:Relative;
                    top:0px;
                    right:-50px;
                    
                    }
            
                    .carlos h4{
                        position:Relative;
                        top:0px;
                        right:-30px;
                        
                        }
                
            
            .filtro__lit{
                grid-area:filtro__lit;
                background-image:url("../imagenes/mountain.png");
                background-size:cover;
                position:Relative;
                top:-2px;
            
            }
            
            .form__div__lit{
                background-color:rgba(212, 177, 163, 0.459);
                height:350px;
                width:270px;
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
            align-items:center;
            font-family:"Josefin Sans";
            position:relative;
            right:-40px;
            top:25px;
            }
            
            .form__lit button,select,input{
                border-radius:30%;
                margin:10px;
                }
                
                .form__lit button:hover ,select:hover,input:hover{
                
                    background-color: gold;
                
                }
                
                .form__lit button{
                    background-color:rgba(240, 186, 154, 0.58);
                    width: 100px;
                    padding:5px;
                    
                }
            
            
        /* ***************Seccion MUSICA***********************     */

        /* grilla musica*/
        #grilla__musica {
            display:grid;
            grid-template-areas:
            "header header header"
            "main__musica main__musica main__musica"
            "footer footer footer";
            grid-template-rows: 90px auto 100px;
            grid-template-columns: 1fr 3fr auto;
            }

            #main__musica{

              grid-area: main__musica;  
            }

            body .musica__recomendada{
                display:flex;
                flex-direction: column;
                flex-wrap:wrap;
                background-image: url("../imagenes/music__bg__rec.png");
                background-size:cover;
                background-position:center;
                background-repeat:repeat;
                padding:50px;
                font-family:"Josefin Sans";
                height:auto;
            }

            .musica__recomendada__div{
                background-color:rgba(41, 206, 69, 0.288); 
                padding:40px;  
                border-radius:8%;
            }

            .musica__recomendada img{
                
                width:60px;
                height:60px;
                position:relative;
                right:-30%;
            }

            .form__musica h4, .musica__recomendada h4{

                font-family:'Indie Flower', cursive;
        font-size:40px;
        position:Relative;
        right:-35%;
        padding:20px;
            }
.musica__recomendada audio{
    
height:40px;
width:200px;
position:relative;
                right:-30%;
}

.musica__recomendada h5{

    position:relative;
                right:-30%;
}
            body .form__musica{
     
            background-image: url("../imagenes/music__bg__form.png");
                background-size:cover;
                background-position:center;
                background-repeat:repeat;
                height:auto;
                
            }

.form__musica form{
display:flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: space-evenly; 
background-color:rgba(41, 206, 69, 0.288); 
padding:40px;
font-family:"Josefin Sans";
font-size:20px;
/* align-content:center; */
border-radius:10%;   
width:auto;
}


.que__buscas__musica{

    font-size:35px;
}

.form__musica form input,button, select{

border-radius:40%;
margin:10px;
}

.form__musica form button{
background-color:rgba(48, 165, 19, 0.637);
width: 80px;
padding:3px;
position:relative;
right:-30px;
}

.form__musica form button:hover ,select:hover,input:hover{

background-color: gold;

}

.div__form__musica{

padding:50px;
}

.form__musica form input, select, button{
font-size:15px;

}

.form__musica input{
    width:300px;
}
            
.genero__musica{
    position:relative;
    top:10px;
}


/* *******************seccion QUERES SER PARTE************************************ */
/* utilizando grids en la seccion central */
/* #grilla__qsp {
    display:grid;
    grid-template-areas:
    "texto texto texto"
    "form form img"
    "form form img";
    grid-template-rows: 200px 900px auto;
    grid-template-columns: 250px 400px 695px; 
    } */
    
/* texto inicial "¿queres ser parte de la comunidad?" y el parrafo de abajo */
#texto__qsp{
    font-family:"Josefin Sans";
/* grid-area:texto; */
background-image:url("../imagenes/qsp__bg__form2png.png")
position:relative;
height:auto;
width:auto;
padding:40px;
}


.texto__qsp h3{
    font-family:'Indie Flower', cursive;
        font-size:40px;
    
}

.texto__qsp p{
    width:1000px;
    font-size:15px;
}

.titulo__qsp{

    font-family:'Indie Flower', cursive;
    font-size:40px;
    position:relative;
    right:-0%;
}

.texto__qsp h3,p{
    text-align:center;
   width:80%;
   position:relative;
   right:-20%;
   padding:20px;
}


.form__qsp{  
    font-family:"Josefin Sans";
    /* grid-area:form; */
    background-color:rgba(212, 177, 163, 0.178);
background-image: url("../imagenes/qsp__bg__form.png");
background-size:cover;
padding:40px;

}

.form__div__qsp{
    background-color:rgba(212, 177, 163, 0.459);
padding:15px;
position:relative;
right:-10%;

width:80%;
}
.preparado__qsp{
/* position:relative;
right:0px; */

}

.form__div__qsp form{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
align-items:space-between;
justify-content: space-evenly;
height:auto;
}

.form__div__qsp form p,label,input {
padding:8px;
}

.nombre__qsp input, .apellido__qsp input{
width:100px;
height:1px;
}

.tu__proyecto{

    text-align: start;
    font-size:10px;
    position:relative;
    right:10px;
}

.form__qsp input, textarea, button{

    background-color: #ffffff;
    border-radius:90px;
}
.nombre__qsp input:hover, .apellido__qsp input:hover, .edad__qsp input:hover, .comentarios__qsp textarea:hover, .link__qsp input:hover{
    background-color:rgba(248, 247, 233, 0.575);
    
}

.nombre__qsp{
    padding:10px;
}

.apellido__qsp{

padding:10px;
}

.edad__qsp input{
    width:40px;
    height:4px;
    align-items:inherit;
}

.edad__qsp{

position:relative;
right:-10px;
}

.link__qsp{
    position:relative;
    right:-10px; 
}

.genero__qsp{
    padding:10px;
}

.comentarios__qsp{
padding:10px;
}

.comentarios__qsp label{

padding:10px;
}

.comentarios__qsp textarea{
height:80px;
width:500px;
padding:10px;

}
.leertyc__qsp{

padding:10px;
}

.aceptartyc__qsp{
    padding:10px;
}

.img__qsp{
    /* grid-area:img; */
    background-color:white;
    background-image: url("../imagenes/mountain.png");
    background-size:cover;
    background-position:center;
    background-repeat:repeat;
    
}

.img__qsp img{
    border-radius:10px;
height:1100px;
width:1100px;
position:relative;

}

.form__qsp button{
padding:10px;
position:relative;
right:-10px;
top:1px;
width:200px;
background-color: rgba(212, 110, 51, 0.58);
}

.form__qsp button:hover{

background-color:khaki;
}

.form__qsp p{
    padding:10px;
    text-align: center;
}

/* *******************seccion SOBRE NOSOTROS***************** */

    /* grilla */
     /* #grilla__sn{
        display:grid;
        grid-template-areas: 
        "header header header"
        "main__sn main__sn main__sn"
        "footer footer footer";
        grid-template-rows: 90px auto 100px;
    grid-template-columns: 3fr auto auto;
            }  */

            /* seccion 1 div */
        .sobre__nosotros{
            /* grid-area:intro; */
            font-family:"Josefin Sans",  sans-serif;
            font-size: 13px;
            background-color:#9c716d7c;
            height: auto;
            width:auto;
            
            background-image: url("../imagenes/sn__bg__1.png");
        background-size:cover;
        background-position:center;
        background-repeat:repeat;
         
        }
        /* seccion 1 texto */
        .sobre__nosotros__texto{
            font-family: 'Josefin Sans', sans-serif;
        text-align:justify;
        width:80%;
        padding:20px; 
        font-size:23px;
        
      
        }
        /* seccion 1 titulo */
        

        .titulo__sn{
            font-family:'Indie Flower', cursive;
            font-size:50px;
            padding:20px;
            position:relative;
            right:-22%;

        }
        
        /* seccion 2  */
        .nuestro__equipo{
            /* grid-area:equipo; */
        font-family:"Josefin Sans";
        height:auto;
        width:auto;
        background-color:lavenderblush;
        background-image: url("../imagenes/sn__bg__2.png");
        background-size:cover;
        background-position:center;
        background-repeat:repeat;
      
        }
        
        /* seccion 2 lista  */
        .nuestro__equipo__miembro{
           position:relative;
           right:-30%;
        }
        
        /* seccion 2 contenedor lista */
      
        
        /* seccion 2 titulo elementos de lista  */
        .nuestro__equipo .nombre{
           
            font-size:20px;
            position:relative;
            right:-10%;
           
        }
        
        /* seccion 2 pie elementos de lista */
        .nuestro__equipo .descripcion{
            
            font-size:17px;
            position:relative;
            right:10%;
            padding:15px;
            width:80%;
        }
        
        .nuestro__equipo img{
        width:250px;
        height:250px;
        border-radius: 10%;
        border:rgba(255, 255, 255, 0.288) solid ;
        }
        
        /* seccion 2  titulo general*/
        
        /* footer  */
footer {
    grid-area:footer;
background-color:#d4b1a3;
height:50px;

width:100%;
font-family:"Josefin Sans";

}

footer ul{
list-style-type:none;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:start;
}

footer ul li{
    color:black;
    padding:5px 8px 50px 9px;
    }

footer ul li a:hover{

color:floralwhite;

    }
