/*****body generales todo****/

body{
    margin:0;
    padding:0;
    height: 100vh;
}
body{
    display:flex;
    flex-direction:column;
    
    }

    body a{
        text-decoration:none;
        }
        
        body a:visited{
            color:slategrey;
            }
/* grid index */
#grilla {
display:grid;
grid-template-areas:
"header header header"
"filtro__principal filtro__principal filtro__principal"
"recomendados__background recomendados__background recomendados__background"
"footer footer footer";
grid-template-rows: 105px 450px 800px 100px;
grid-template-columns: 3fr 3fr 3fr;
}

/***** header todos ****/
.indie__arg{

    font-family: 'Permanent Marker', cursive;
    font-size:30px;
    position:relative;
    top:-10px;
    right:0px;
    padding:10px;
        
}

header {
    width:100%;
    height:90px;
    background-color:#a6605a;
    position:relative;
    top:-26px;
    right:8px;
    grid-area:header;
    }
/* barra de navegacion */
header nav{
    background-color: rgba(189, 174, 174, 0.47); 
    width:auto;
    height:40px;
    position:relative;
    top:-25px;
    right:0px;
    }

/* elementos de la barra de navegacion (opciones) */
    header nav ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:nowrap;
    border-width:5px;
    border-color:green;
    position:relative;
    right:377px;
    bottom:18px;
    }
    
    header nav ul li{
        list-style-type:none;
    padding:22px 8px 50px 9px;
    font-family:"Josefin Sans";
    font-size:15px;
    
    }
    
    header nav ul li a{
        display:inline-block;
        color:black;
        border-color:black;
        border-style:solid;
        border-width:1px;
        padding:7px;
    }
    
    header nav ul li a:hover{
        color:floralwhite;
    }

/********************index pagina principal***********************/

/* filtro principal -- seccion 1 */
.form__section{
    grid-area: filtro__principal;
    background-color:#F2F0F0D1;
    position:relative;
    top:-3px;
    height:450px;
    width:1340px;
    border-color:black;
    border-width:10px;
    display:grid;
    grid-template-areas:
". titulo ."
". filtro .";
grid-template-columns: 400px 400px 400px;
grid-template-rows: 100px 310px;
}

.titulo2{ 
    font-family:"Josefin Sans";
display:inline-block;
font-size:30px;
position:absolute;
right:50%;
top:7px;
}

.titulo1{
    grid-area: titulo;
    font-family:"Josefin Sans";
font-size:30px;
}



/* div creado para separar los inputs con display flex k */
    .filtro__principal__form{
        grid-area: filtro;
display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:500px;
    height:300px; 
    font-family:"Josefin Sans";
    justify-content:center;
    align-items:center;
    font-size:20px;
    background-color:rgba(212, 177, 163, 0.178);
    /* position:relative;
    left:350px;
    top:101px; */
    border-radius: 10px;
    }
    
    .que__buscas{
    display:block;
    font-size:30px;
    padding:24px;
    position:relative;
    right:-10px;
    }

    .filtro__principal__palabras__clave{
padding:11px;
border-color:darkgray;
border-radius:30px;
width:350px;

    }

    .filtro__principal__palabras__clave:hover{
background-color:#ffd90085;

    }
    
    .filtro__principal__form__checkbox{
    list-style-type:none;
    display:flex;
    }
    
    .filtro__principal__form__button{
width:90px;
height:40px;
        background-color: rgba(212, 110, 51, 0.58);
            border-radius:90px;
    position:relative;
    top:0px;
    right:-10px;
    }

    .filtro__principal__form__button:hover{
background-color: gold;
color:floralwhite;
            }

    
    .filtro__principal__form__button input[type=checkbox]:hover {
    background-color: gold;
    
            }

.genero {
    padding:24px;

}

.genero select:hover{
background-color:#fcdc27b7;
}

/* titulos de las secciones 1 y 2 del main */



/* seccion 2 del main. Recomendados */
.recomendados__background{
    grid-area: recomendados__background;
background-image: url("../imagenes/mountain.png");
background-size:1500px;
background-position:center;
background-repeat:repeat;
height:800px;
width:auto;
position:relative;
top:-3px;
right:8px;
}

/* elementos que apareceran recomendados */
.recomendados__elementos{
display:flex;
flex-direction:row;
flex-wrap:wrap;
align-content:center;
justify-content:space-evenly;
font-family:"Josefin Sans";
position:relative;
top:84px;
right:0px;
}

.recomendados__elementos h4,h6{

font-size:13px;
padding:1px;
position:relative;
top:0px;
right:-32px;

}


.recomendados__elementos img{
width:350px;
height:200px;
padding:10px;
}

.recomendados__elementos img:hover{

border: 2px inset #ffd700;
width:370px;
height:220px;

}

.recomendados__elementos li{

    display:inline-block;
}


/* footer  */
footer {
    grid-area:footer;
background-color:#d4b1a3;
height:50px;
position:relative; 
width:1342px;
top:-5px;
font-family:"Josefin Sans";

}

footer ul{
list-style-type:none;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:start;
}

footer ul li{
    color:black;
    padding:5px 8px 50px 9px;
    }

footer ul li a:hover{

color:floralwhite;

    }

    /* ***************seccion CINE*************************** */

    #grilla__cine {

        display:grid;
        grid-template-areas:
        "header header"
        "main main"
        "footer footer";
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 400px 1010px;
        }
        
        
        
        main {
grid-area:main;

        }

        #grilla__cine__3{
        
            display:grid;
            grid-template-areas:
            "form__cine grilla2"
            "form__cine grilla2";
            grid-template-rows: 2fr 2fr;
            grid-template-columns: 300px 500px; 
        }

        .form__cine{
            grid-area:form__cine;
            background-image: url("../imagenes/mountain.png");
            background-position:Center;
            background-size:1500px;
            padding:50px;
            position:relative;
            top:13px;
            
        }

        #grilla__cine__2{
            grid-area:grilla2;
            padding:20px;
            display:grid;
            grid-template-areas:
            ". contenido ."
            "cortos cortos cortos"
            "skits skits skits"
            "series series series";
            grid-template-rows: 1fr 2fr 2fr 2fr;
            grid-template-columns: 3fr 3fr 3fr;    
        }

        .form__div__cine{
            background-color:rgba(212, 177, 163, 0.459);
            height:350px;
            width:270px;
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
        align-items:center;
        font-family:"Josefin Sans";
        position:relative;
        right:20px;
        }
        
        .form__cine button,select,input{
        border-radius:30%;
        margin:10px;
        }
        
        .form__cine button:hover ,select:hover,input:hover{
        
            background-color: gold;
        
        }
        
        .form__cine button{
            background-color:rgba(240, 186, 154, 0.58);
            width: 100px;
            padding:5px;
            
        }
        
        .checkbox {
        list-style-type:none;
        }
        
        /* seccion recomendados */
        .contenido{
            background-image: url("../imagenes/mountain.png");
        background-size:1500px;
        background-position:center;
        background-repeat:repeat;
            grid-area:contenido;
            background-color:maroon;
            position:relative;
            top:13px;
            width:963px;
        }
        
        .titulo__contenido{
        grid-area:contenido;
        font-family:"Josefin Sans";
        font-size:40px;
        position:relative;
        right:-50px;
        }
        
        .cortos img, .skits img, .series img{
            width:210px;
            height:120px;
            border:rgba(248, 62, 5, 0.158) solid 3px;
        }
        
        .cortos{
            font-family:"Josefin Sans";
            font-size:25px;
                    display:flex;
                    flex-direction:row;
                flex-wrap:wrap;
                justify-content:space-around;
        grid-area:cortos;
        padding:20px;
        
                }
        
        .series{
            font-family:"Josefin Sans";
            font-size:25px;
            display:flex;
                    flex-direction:row;
                    flex-wrap:wrap;
        justify-content:space-around;
            grid-area:series;
            padding:20px;
        }
        
        .skits{
            font-family:"Josefin Sans";
            font-size:25px;
            display:flex;
            flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
        grid-area:skits;   
        padding:20px;   
        }
        
        .skits img:hover, .cortos img:hover, .series img:hover{
        
            border: 2px inset #ffd700;
            width:250px;
            height:150px;
            
            }

            /* *************Seccion LITERATURA*********************** */

            .recomendados__lit img{

                width:200px;
                height:200px;
                border-radius:30%;
            }
            
            
            #grilla__lit{
            display:grid;
            grid-template-areas:
            "header header"
            "filtro__lit recomendados__lit"
            "footer footer";
            grid-template-rows: 105px 400px 100px;
            grid-template-columns: 350px 1045px;
            }
            
            
            body .recomendados__lit{
            
                grid-area:recomendados__lit;
                background-image:url("../imagenes/mountain.png");
                background-size:cover;
            display:Grid;
            grid-template-areas:
            ". titulo ."
            "contenido contenido contenido";
            grid-template-rows: 100px 400px;
            grid-template-columns: 300px 300px 300px;
            position:relative;
            top:-2px;
            width:1002px;
            }
            
            .titulo__lit{
                grid-area:titulo;
                font-family:"Josefin Sans";
            }
            .contenido__lit{
            
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content: space-evenly;
                grid-area:contenido;
                position:relative;
                top:-30px;
                font-family:"Josefin Sans";
            }
            
            .normal h3{
            position:Relative;
            top:0px;
            right:-50px;
            
            }
            
            .normal h4{
                position:Relative;
                top:0px;
                right:-30px;
                
                }
            
            
            .comandante__lit h3{
                position:Relative;
                top:0px;
                right:-50px;
                
                }
            
                .comandante__lit h4{
                    position:Relative;
                    top:0px;
                    right:-30px;
                    
                    }
            
                .carlos h3{
                    position:Relative;
                    top:0px;
                    right:-50px;
                    
                    }
            
                    .carlos h4{
                        position:Relative;
                        top:0px;
                        right:-30px;
                        
                        }
                
            
            .filtro__lit{
                grid-area:filtro__lit;
                background-image:url("../imagenes/mountain.png");
                background-size:cover;
                position:Relative;
                top:-2px;
            
            }
            
            .form__div__lit{
                background-color:rgba(212, 177, 163, 0.459);
                height:350px;
                width:270px;
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
            align-items:center;
            font-family:"Josefin Sans";
            position:relative;
            right:-40px;
            top:25px;
            }
            
            .form__lit button,select,input{
                border-radius:30%;
                margin:10px;
                }
                
                .form__lit button:hover ,select:hover,input:hover{
                
                    background-color: gold;
                
                }
                
                .form__lit button{
                    background-color:rgba(240, 186, 154, 0.58);
                    width: 100px;
                    padding:5px;
                    
                }
            
            
        /* ***************Seccion MUSICA***********************     */

        /* grilla musica*/
        #grilla__musica {
            display:grid;
            grid-template-areas:
            "header header header"
            "form musica musica"
            "footer footer footer";
            grid-template-rows: 110px 500px 50px;
            grid-template-columns: 300px 551px 500px;
            }

            body .musica__recomendada{
                display:flex;
                flex-direction: column;
                flex-wrap:wrap;
                grid-area: musica;
                background-image: url("../imagenes/mountain.png");
                background-size:1100px;
                background-position:center;
                background-repeat:repeat;
                padding:50px;
                position:relative;
                top:-7px;
                font-family:"Josefin Sans";
            }

            .musica__recomendada img{
                width:60px;
                height:60px;
            }
.musica__recomendada audio{
height:40px;
width:200px;

}
            body .form__musica{
            grid-area:form;
            background-image: url("../imagenes/mountain.png");
                background-size:900px;
                background-position:center;
                background-repeat:repeat;
                position:relative;
                top:-7px;
            }

.form__musica form{
display:flex;
flex-direction:column;
flex-wrap: wrap;
justify-content: space-evenly;
background-color:rgba(212, 177, 163, 0.459);
height:200px;
width:120px;
padding:30px;
font-family:"Josefin Sans";
font-size:14px;
align-content:center;
border-radius:10%;   
}

.form__musica form input,button, select{

border-radius:20%;
margin:10px;
}

.form__musica form button{
background-color:rgba(240, 186, 154, 0.58);
width: 80px;
padding:3px;
position:relative;
right:-30px;
}

.form__musica form button:hover ,select:hover,input:hover{

background-color: gold;

}

.div__form__musica{

position:relative;
top:30px;
right:-50px;
}

.form__musica form input, select, button{
font-size:12px;

}
            


/* *******************seccion QUERES SER PARTE************************************ */
/* utilizando grids en la seccion central */
#grilla__qsp {
    display:grid;
    grid-template-areas:
    "texto texto texto"
    "form form img"
    "form form img";
    grid-template-rows: 200px 900px auto;
    grid-template-columns: 250px 400px 695px; 
    }
    
/* texto inicial "¿queres ser parte de la comunidad?" y el parrafo de abajo */
.texto__qsp{
    font-family:"Josefin Sans";
grid-area:texto;
background-color:lavenderblush;
position:relative;
height:auto;
width:auto;
top:13px;
right:-2px;
}

.texto__qsp h3,p{
    text-align:center;
    position:relative;
    right:-100px;
}

.texto__qsp h3{
    font-size:17px; 
}

.texto__qsp p{
    width:1000px;
    font-size:15px;
}

.form__qsp{  
    font-family:"Josefin Sans";
    grid-area:form;
    background-color:rgba(212, 177, 163, 0.178);
background-image: url("../imagenes/mountain.png");
background-size:cover;

}

.form__div__qsp{
    background-color:rgba(212, 177, 163, 0.459);
height:700px;
width:550px;
overflow:hidden;
position:relative;
top:90px;
right:-45px;
}
.preparado__qsp{
/* position:relative;
right:0px; */

}

.form__div__qsp form{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
align-items:space-evenly;
justify-content: space-evenly;
height:600px;
}

.form__div__qsp form p,label,input {
padding:8px;
}

.nombre__qsp input, .apellido__qsp input{
width:100px;
height:1px;
}

.tu__proyecto{

    text-align: start;
    font-size:10px;
    position:relative;
    right:10px;
}

.form__qsp input, textarea, button{

    background-color: rgb(233, 238, 196);
    border-radius:90px;
}
.nombre__qsp input:hover, .apellido__qsp input:hover, .edad__qsp input:hover, .comentarios__qsp textarea:hover, .link__qsp input:hover{
    background-color:khaki;
    
}

.nombre__qsp{
    padding:10px;
}

.apellido__qsp{

padding:10px;
}

.edad__qsp input{
    width:40px;
    height:4px;
    align-items:inherit;
}

.edad__qsp{

position:relative;
right:-10px;
}

.link__qsp{
    position:relative;
    right:-10px; 
}

.genero__qsp{
    padding:10px;
}

.comentarios__qsp{
padding:10px;
}

.comentarios__qsp label{

padding:10px;
}

.comentarios__qsp textarea{
height:80px;
width:500px;
padding:10px;

}
.leertyc__qsp{

padding:10px;
}

.aceptartyc__qsp{
    padding:10px;
}

.img__qsp{
    grid-area:img;
    background-color:white;
    background-image: url("../imagenes/mountain.png");
    background-size:cover;
    background-position:center;
    background-repeat:repeat;
    
}

.img__qsp img{
    border-radius:10px;
height:500px;
width:600px;
position:relative;
top:100px;
right:0px;
}

.form__qsp button{
padding:10px;
position:relative;
right:-10px;
top:1px;
width:200px;
background-color: rgba(212, 110, 51, 0.58);
}

.form__qsp button:hover{

background-color:khaki;
}

.form__qsp p{
    padding:10px;
    text-align: center;
}

/* *******************seccion SOBRE NOSOTROS***************** */

    /* grilla */
    #grilla__sn{
        display:grid;
        grid-template-areas: 
        "header header"
        "intro equipo"
        "footer footer";
        grid-template-rows: 100px 350px 200px;
        grid-template-columns: 500px 845px;
            }
        
            /* seccion 1 div */
        .sobre__nosotros{
            grid-area:intro;
            font-family:"Josefin Sans";
            text-align:left;
            font-size: 13px;
            background-color:#9c716d7c;
            height: 350px;
            width:500px;
            position:relative;
            top:3px;
            right:0px;
            background-image: url("../imagenes/mountain.png");
        background-size:cover;
        background-position:center;
        background-repeat:repeat;
         
        }
        /* seccion 1 texto */
        .sobre__nosotros__texto{
        
        text-align:justify;
        width: 450px;
        font-size:17px;
        position:relative;
        right:-5%;
        }
        /* seccion 1 titulo */
        .sobre__nosotros h5{
        
            font-size: 15px;
        text-align:center;
        padding:10px;
        }
        
        /* seccion 2  */
        .nuestro__equipo{
            grid-area:equipo;
        font-family:"Josefin Sans";
        width:842px;
        height:350px;
        background-color:lavenderblush;
        background-image: url("../imagenes/mountain.png");
        background-size:cover;
        background-position:center;
        background-repeat:repeat;
        position:relative;
        top:3px;
        }
        
        /* seccion 2 lista  */
        .nuestro__equipo ul{
            list-style-type:none;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-evenly;
        align-items: center;
        }
        
        /* seccion 2 contenedor lista */
        .nuestro__equipo ul li{
        width:150px;
        height:200px;
        }
        
        /* seccion 2 titulo elementos de lista  */
        .nuestro__equipo .nombre{
            display:inherit;
            flex-wrap: wrap;
            font-size:13px;
           
        }
        
        /* seccion 2 pie elementos de lista */
        .nuestro__equipo .descripcion{
            display:inherit;
            flex-wrap: wrap;
            text-align:left;
        }
        
        .nuestro__equipo img{
        
        display:inherit;
        flex-wrap:wrap;
        }
        
        /* seccion 2  titulo general*/
        .nuestro__equipo h5{
        
            font-size: 15px;
            text-align: center;
            padding:19px;
        }