/* reglas generales  */

body{
    margin:0;
    padding:0;
    height:100vh;
}

body a{
    text-decoration:none;
    }

    body a:visited{
        color:slategrey;
        }

        /* body */

        .indie__arg{
            font-family: 'Permanent Marker', cursive;
            font-size:30px;
            position:relative;
            top:-10px;
            right:0px;
            padding:10px;
                
        }
        
        header {
            grid-area:header;
            width:1360px;
            height:90px;
            background-color:#a6605a;
            position:relative; 
            top:-26px;
            right:8px;
            }
        /* barra de navegacion */
        header nav{
            background-color: rgba(189, 174, 174, 0.47); 
            width:auto;
            height:40px;
            position:relative;
            top:-25px;
            right:0px;
            }
        /* elementos de la barra de navegacion (opciones) */
            header nav ul{
            display:flex;
            flex-direction:row;
            justify-content:center;
            flex-wrap:nowrap;
            border-width:5px;
            border-color:green;
            position:relative; 
            right:377px;
            bottom:18px;
            }
            
            header nav ul li{
                list-style-type:none;
            padding:22px 8px 50px 9px;
            font-family:"Josefin Sans";
            font-size:15px;
            
            }
            
            header nav ul li a{
                display:inline-block;
                color:black;
                border-color:black;
                border-style:solid;
                border-width:1px;
                padding:7px;
            }
            
            header nav ul li a:hover{
                color:floralwhite;
            }

                header{
grid-area:header;
                }


/* main */

.recomendados__lit img{

    width:200px;
    height:200px;
    border-radius:30%;
}


#grilla__lit{
display:grid;
grid-template-areas:
"header header"
"filtro__lit recomendados__lit"
"footer footer";
grid-template-rows: 105px 400px 100px;
grid-template-columns: 350px 1045px;
}


body .recomendados__lit{

    grid-area:recomendados__lit;
    background-image:url("../imagenes/mountain.png");
    background-size:cover;
display:Grid;
grid-template-areas:
". titulo ."
"contenido contenido contenido";
grid-template-rows: 100px 400px;
grid-template-columns: 300px 300px 300px;
position:relative;
top:-2px;
width:1002px;
}

.titulo{
    grid-area:titulo;
    font-family:"Josefin Sans";
}
.contenido{

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    grid-area:contenido;
    position:relative;
    top:-30px;
    font-family:"Josefin Sans";
}

.normal h3{
position:Relative;
top:0px;
right:-50px;

}

.normal h4{
    position:Relative;
    top:0px;
    right:-30px;
    
    }


.comandante h3{
    position:Relative;
    top:0px;
    right:-50px;
    
    }

    .comandante h4{
        position:Relative;
        top:0px;
        right:-30px;
        
        }

    .carlos h3{
        position:Relative;
        top:0px;
        right:-50px;
        
        }

        .carlos h4{
            position:Relative;
            top:0px;
            right:-30px;
            
            }
    

.filtro__lit{
    grid-area:filtro__lit;
    background-image:url("../imagenes/mountain.png");
    background-size:cover;
    position:Relative;
    top:-2px;

}

.form__div{
    background-color:rgba(212, 177, 163, 0.459);
    height:350px;
    width:270px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
align-items:center;
font-family:"Josefin Sans";
position:relative;
right:-40px;
top:25px;
}

.form button,select,input{
    border-radius:30%;
    margin:10px;
    }
    
    .form button:hover ,select:hover,input:hover{
    
        background-color: gold;
    
    }
    
    .form button{
        background-color:rgba(240, 186, 154, 0.58);
        width: 100px;
        padding:5px;
        
    }








            /* footer  */
footer {
    grid-area:footer;
background-color:#d4b1a3;
height:50px;
position:relative; 
width:1352px;
top:-2px;
font-family:"Josefin Sans";

}

footer ul{
list-style-type:none;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:start;
}

footer ul li{
    color:black;
    padding:5px 8px 50px 9px;
    }

footer ul li a:hover{

color:floralwhite;

    }