/* body */

body{
    margin:0;
    padding:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction:column;
    
    }

    body a{
        text-decoration:none;
        }
        
        body a:visited{
            color:slategrey;
            }

/* header */
.indie__arg{

    font-family: 'Permanent Marker', cursive;
    font-size:30px;
    position:relative;
    top:-10px;
    right:0px;
    padding:10px;
        
}

header {
    width:1355px;
    height:90px;
    background-color:#a6605a;
    position:relative;
    top:-26px;
    right:8px;
    }
/* barra de navegacion */
header nav{
    background-color: rgba(189, 174, 174, 0.47); 
    width:auto;
    height:40px;
    position:relative;
    top:-25px;
    right:0px;
    }
/* elementos de la barra de navegacion (opciones) */
    header nav ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:nowrap;
    border-width:5px;
    border-color:green;
    position:relative;
    right:377px;
    bottom:18px;
    }
    
    header nav ul li{
        list-style-type:none;
    padding:22px 8px 50px 9px;
    font-family:"Josefin Sans";
    font-size:15px;
    
    }
    
    header nav ul li a{
        display:inline-block;
        color:black;
        border-color:black;
        border-style:solid;
        border-width:1px;
        padding:7px;
    }
    
    header nav ul li a:hover{
        color:floralwhite;
    }

/* utilizando grids en la seccion central */
#grilla {
display:grid;
grid-template-areas:
"texto texto texto"
"form form img"
"form form img";
grid-template-rows: 200px 900px auto;
grid-template-columns: 250px 400px 695px; 
}

/* texto inicial "¿queres ser parte de la comunidad?" y el parrafo de abajo */
.texto{
    font-family:"Josefin Sans";
grid-area:texto;
background-color:lavenderblush;
position:relative;
height:auto;
width:auto;
top:13px;
right:-2px;
}

.texto h3,p{
    text-align:center;
    position:relative;
    right:-100px;
}

.texto h3{
    font-size:17px; 
}

.texto p{
    width:1000px;
    font-size:15px;
}

.form{  
    font-family:"Josefin Sans";
    grid-area:form;
    background-color:rgba(212, 177, 163, 0.178);
background-image: url("../imagenes/mountain.png");
background-size:cover;

}

.form__div{
    background-color:rgba(212, 177, 163, 0.459);
height:700px;
width:550px;
overflow:hidden;
position:relative;
top:90px;
right:-45px;
}
.preparado{
/* position:relative;
right:0px; */

}

.form__div form{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
align-items:space-evenly;
justify-content: space-evenly;
height:600px;
}

.form__div form p,label,input {
padding:8px;
}

.nombre input, .apellido input{
width:100px;
height:1px;
}

.tu__proyecto{

    text-align: start;
    font-size:10px;
    position:relative;
    right:10px;
}

.form input, textarea, button{

    background-color: rgb(233, 238, 196);
    border-radius:90px;
}
.nombre input:hover, .apellido input:hover, .edad input:hover, .comentarios textarea:hover, .link input:hover{
    background-color:khaki;
    
}

.nombre{
    padding:10px;
}

.apellido{

padding:10px;
}

.edad input{
    width:40px;
    height:4px;
    align-items:inherit;
}

.edad{

position:relative;
right:-10px;
}

.link{
    position:relative;
    right:-10px; 
}

.genero{
    padding:10px;
}

.comentarios{
padding:10px;
}

.comentarios label{

padding:10px;
}

.comentarios textarea{
height:80px;
width:500px;
padding:10px;

}
.leertyc{

padding:10px;
}

.aceptartyc{
    padding:10px;
}

.img{
    grid-area:img;
    background-color:white;
    background-image: url("../imagenes/mountain.png");
    background-size:cover;
    background-position:center;
    background-repeat:repeat;
    
}

.img img{
    border-radius:10px;
height:500px;
width:600px;
position:relative;
top:100px;
right:0px;
}

.form button{
padding:10px;
position:relative;
right:-10px;
top:1px;
width:200px;
background-color: rgba(212, 110, 51, 0.58);
}

.form button:hover{

background-color:khaki;
}

.form p{
    padding:10px;
    text-align: center;
}
/* footer  */
footer {
    grid-area:footer;
background-color:#d4b1a3;
height:50px;
/* position:relative; */
width:1345px;
/* top:-3px;
right:8px; */
font-family:"Josefin Sans";

}

footer ul{
list-style-type:none;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:start;
}

footer ul li{
    color:black;
    padding:5px 8px 50px 9px;
    }

footer ul li a:hover{

color:floralwhite;

    }