/* body */

body{
    margin:0;
    padding:0;
    height:100vh;
}

/* body{
    display:flex;
    flex-direction:column;
    } */

    body img {
        width: 150px;
        height: 100px;
        border-radius: 95px;
    }

    body a{
        text-decoration:none;
        }
        
        body a:visited{
            color:slategrey;
        }
        
/* header */
.indie__arg{

    font-family: 'Permanent Marker', cursive;
    font-size:30px;
    position:relative;
    top:-10px;
    right:0px;
    padding:10px;
        
}

header {
    grid-area:header;
    width:1350px;
    height:90px;
    background-color:#a6605a;
    position:relative;
    top:-26px;
    right:8px;
    }
/* barra de navegacion */
header nav{
    background-color: rgba(189, 174, 174, 0.47); 
    width:auto;
    height:40px;
    position:relative;
    top:-25px;
    right:0px;
    }
/* elementos de la barra de navegacion (opciones) */
    header nav ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:nowrap;
    border-width:5px;
    border-color:green;
    position:relative;
    right:377px;
    bottom:18px;
    }
    
    header nav ul li{
        list-style-type:none;
    padding:22px 8px 50px 9px;
    font-family:"Josefin Sans";
    font-size:15px;
    
    }
    
    header nav ul li a{
        display:inline-block;
        color:black;
        border-color:black;
        border-style:solid;
        border-width:1px;
        padding:7px;
    }
    
    header nav ul li a:hover{
        color:floralwhite;
    }


    /* main */

    /* grilla */
    #grilla{
display:grid;
grid-template-areas: 
"header header"
"intro equipo"
"footer footer";
grid-template-rows: 100px 350px 200px;
grid-template-columns: 500px 845px;
    }

    /* seccion 1 div */
.sobre__nosotros{
    grid-area:intro;
    font-family:"Josefin Sans";
    text-align:left;
    font-size: 13px;
    background-color:#9c716d7c;
    height: 350px;
    width:500px;
    position:relative;
    top:3px;
    right:0px;
    background-image: url("../imagenes/mountain.png");
background-size:cover;
background-position:center;
background-repeat:repeat;
 
}
/* seccion 1 texto */
.sobre__nosotros__texto{

text-align:justify;
width: 450px;
font-size:17px;
position:relative;
right:-5%;
}
/* seccion 1 titulo */
.sobre__nosotros h5{

    font-size: 15px;
text-align:center;
padding:10px;
}

/* seccion 2  */
.nuestro__equipo{
    grid-area:equipo;
font-family:"Josefin Sans";
width:842px;
height:350px;
background-color:lavenderblush;
background-image: url("../imagenes/mountain.png");
background-size:cover;
background-position:center;
background-repeat:repeat;
position:relative;
top:3px;
}

/* seccion 2 lista  */
.nuestro__equipo ul{
    list-style-type:none;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-evenly;
align-items: center;
}

/* seccion 2 contenedor lista */
.nuestro__equipo ul li{
width:150px;
height:200px;
}

/* seccion 2 titulo elementos de lista  */
.nuestro__equipo .nombre{
    display:inherit;
    flex-wrap: wrap;
    font-size:13px;
   
}

/* seccion 2 pie elementos de lista */
.nuestro__equipo .descripcion{
    display:inherit;
    flex-wrap: wrap;
    text-align:left;
}

.nuestro__equipo img{

display:inherit;
flex-wrap:wrap;
}

/* seccion 2  titulo general*/
.nuestro__equipo h5{

    font-size: 15px;
    text-align: center;
    padding:19px;
}

        /* footer  */
footer {
    grid-area:footer;
background-color:#d4b1a3;
height:50px;
position:relative;
top:2px;
font-family:"Josefin Sans";
width:1342px;
}

footer ul{
list-style-type:none;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:start;
}

footer ul li{
    color:black;
    padding:5px 8px 50px 9px;
    }

footer ul li a:hover{

color:floralwhite;

    }