/*****body generales todo****/
/***** header todos ****/
.indie__arg {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  position: relative;
  right: 0px;
  padding: 10px;
  -webkit-animation: 3s linear 0s 2 alternate move_indiearg;
  animation: 3s linear 0s 2 alternate move_indiearg; }

@-webkit-keyframes move_indiearg {
  from {
    margin-left: 0%; }
  to {
    margin-left: 20%; } }

@keyframes move_eye {
  from {
    margin-left: -20%; }
  to {
    margin-left: 100%; } }

header {
  width: 100%;
  height: 120px;
  background-color: #ffffff85;
  grid-area: header; }
  header nav {
    width: 100%;
    height: auto; }

/* barra de navegacion */
.home__mp {
  font-family: "Josefin Sans";
  font-size: 1.2rem; }
  .home__mp:hover,
  .home__mp header nav ul li a:hover {
    color: floralwhite; }

.elementos__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 10px;
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  width: 80%;
  position: relative;
  right: -10%; }
  .elementos__header ul {
    display: flex;
    flex-direction: row; }
    .elementos__header ul li {
      list-style-type: none;
      padding: 10px; }
      .elementos__header ul li a {
        color: black;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        padding: 7px; }
        .elementos__header ul li a:hover {
          color: floralwhite; }

footer {
  grid-area: footer;
  background-color: #d4b1a3;
  height: auto;
  width: 100%;
  font-family: "Josefin Sans";
  font-size: 1rem; }
  footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 15%;
    padding: 0px; }
    footer ul li {
      color: black;
      padding: 6px; }
      footer ul li a:hover {
        color: floralwhite; }

.index__form {
  grid-area: form;
  background-image: url("../imagenes/index__bg__form1.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  margin: 0px; }
  .index__form__titulo1 {
    font-family: "Indie Flower", cursive;
    font-size: 3rem;
    position: relative;
    right: -35%;
    top: 20%; }
  .index__form__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Josefin Sans";
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgba(212, 177, 163, 0.178);
    border-radius: 10px;
    height: 40em; }
    .index__form__form____qb {
      display: block;
      font-size: 2rem;
      padding: 24px;
      position: relative;
      right: -5%; }
    .index__form__form__pc {
      padding: 11px;
      border-color: darkgray;
      border-radius: 30px;
      width: 30rem; }
    .index__form__form__checkbox {
      list-style-type: none;
      display: flex; }
    .index__form__form___button {
      width: 10rem;
      height: 3rem;
      background-color: rgba(212, 110, 51, 0.58);
      border-radius: 90px;
      position: relative;
      right: -3%; }
    .index__form__form__genero__dropdown {
      padding: 24px; }
      .index__form__form__genero__dropdown select:hover {
        background-color: #fcdc27b7; }
    .index__form__form__button:hover {
      background-color: gold;
      color: floralwhite; }
    .index__form__form__pc:hover {
      background-color: #ffd90085; }

.index__form__form .index__form__form .index__form__form__button input[type=checkbox]:hover {
  background-color: gold; }

/* *************Seccion LITERATURA*********************** */
.filtro__lit {
  grid-area: filtro__lit;
  background-image: url("../imagenes/mountain.png");
  background-size: cover;
  position: Relative;
  top: -2px; }
  .filtro__lit__titulo1 {
    grid-area: contenido;
    font-family: "Indie Flower", cursive;
    font-size: 60px;
    position: relative;
    right: 50%; }
  .filtro__lit button,
  .filtro__lit select,
  .filtro__lit input {
    border-radius: 30%;
    margin: 10px; }
  .filtro__lit button:hover,
  .filtro__lit select:hover,
  .filtro__lit input:hover {
    background-color: gold; }
  .filtro__lit button {
    background-color: rgba(240, 186, 154, 0.58);
    width: 100px;
    padding: 5px; }
  .filtro__lit__form {
    background-color: rgba(212, 177, 163, 0.459);
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Josefin Sans";
    position: relative;
    right: -40px;
    top: 25px; }

body .recomendados__lit {
  grid-area: contenido__lit;
  background-image: url("../imagenes/mountain.png");
  background-size: cover;
  display: Grid;
  grid-template-areas: ". titulo ." "contenido contenido contenido";
  grid-template-rows: 100px 400px;
  grid-template-columns: 300px 300px 300px;
  position: relative;
  top: -2px;
  width: 1002px; }
  body .recomendados__lit img {
    width: 200px;
    height: 200px;
    border-radius: 30%; }
  body .recomendados__lit__titulo2 {
    grid-area: contenido;
    font-family: "Indie Flower", cursive;
    font-size: 60px;
    position: relative;
    right: 50%; }
  body .recomendados__lit__contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-area: contenido;
    position: relative;
    top: -30px;
    font-family: "Josefin Sans"; }
    body .recomendados__lit__contenido__normal h3 {
      position: Relative;
      top: 0px;
      right: -50px; }
    body .recomendados__lit__contenido__normal h4 {
      position: Relative;
      top: 0px;
      right: -30px; }
    body .recomendados__lit__contenido__comandante h3 {
      position: Relative;
      top: 0px;
      right: -50px; }
    body .recomendados__lit__contenido__comandante h4 {
      position: Relative;
      top: 0px;
      right: -30px; }
    body .recomendados__lit__contenido__carlos h3 {
      position: Relative;
      top: 0px;
      right: -50px; }
    body .recomendados__lit__contenido__carlos h4 {
      position: Relative;
      top: 0px;
      right: -30px; }

#grilla__lit {
  display: grid;
  grid-template-areas: "header" "main__lit" "footer";
  grid-template-rows: 1fr auto 1fr; }

#main__lit {
  grid-area: main__lit;
  display: grid;
  grid-template-areas: "filtro__lit" "contenido__lit";
  grid-template-rows: 2fr 2fr; }

/* *******************seccion SOBRE NOSOTROS***************** */
.sobre__nosotros {
  grid-area: sn;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  background-color: #9c716d7c;
  height: auto;
  width: auto;
  background-image: url("../imagenes/sn__bg__1.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat; }
  .sobre__nosotros__texto {
    font-family: "Josefin Sans", sans-serif;
    text-align: justify;
    width: 80%;
    padding: 20px;
    font-size: 23px; }
  .sobre__nosotros__titulo {
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    padding: 20px;
    position: relative;
    right: -22%; }

.nuestro__equipo {
  grid-area: ne;
  font-family: "Josefin Sans";
  height: auto;
  width: auto;
  background-color: lavenderblush;
  background-image: url("../imagenes/sn__bg__2.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat; }
  .nuestro__equipo__titulo {
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    padding: 20px;
    position: relative;
    right: -22%; }
  .nuestro__equipo img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border: rgba(255, 255, 255, 0.288) solid; }
  .nuestro__equipo__miembro {
    position: relative;
    right: -30%; }
    .nuestro__equipo__miembro__nombre {
      font-size: 20px;
      position: relative;
      right: -10%; }
    .nuestro__equipo__miembro__descripcion {
      font-size: 17px;
      position: relative;
      right: 10%;
      padding: 15px;
      width: 80%; }

/* grilla */
#sn__grilla1 {
  display: grid;
  grid-template-areas: "header header header" "main__sn main__sn main__sn" "footer footer footer";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 3fr 5fr auto; }

#sn__grilla2 {
  grid-area: main__sn;
  display: grid;
  grid-template-areas: "sn" "ne";
  grid-template-rows: 2fr 2fr; }

/* ***************seccion CINE*************************** */
.contenido__cine {
  grid-area: contenido__cine;
  background-image: url("../imagenes/cine__bg__cont2.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  width: auto;
  height: auto; }
  .contenido__cine__div {
    background-color: rgba(211, 78, 223, 0.329); }
  .contenido__cine__div__titulo {
    font-family: "Indie Flower", cursive;
    font-size: 60px;
    position: relative;
    right: -500px; }
  .contenido__cine__div__div2__cortos {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: cortos;
    padding: 10px; }
    .contenido__cine__div__div2__cortos img {
      width: 150px;
      height: 80px;
      border: rgba(248, 62, 5, 0.158) solid 3px; }
    .contenido__cine__div__div2__cortos img:hover {
      border: 2px inset #ffd700;
      width: 200px;
      height: 100px; }
  .contenido__cine__div__div2__series {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: series;
    padding: 10px; }
    .contenido__cine__div__div2__series img {
      width: 150px;
      height: 80px;
      border: rgba(248, 62, 5, 0.158) solid 3px; }
    .contenido__cine__div__div2__series img:hover {
      border: 2px inset #ffd700;
      width: 200px;
      height: 100px; }
  .contenido__cine__div__div2__skits {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: skits;
    padding: 10px; }
    .contenido__cine__div__div2__skits img {
      width: 150px;
      height: 80px;
      border: rgba(248, 62, 5, 0.158) solid 3px; }
    .contenido__cine__div__div2__skits img:hover {
      border: 2px inset #ffd700;
      width: 200px;
      height: 100px; }

.form__cine {
  grid-area: form__cine;
  background-image: url("../imagenes/cine__bg__form2.png");
  background-position: Center;
  background-size: cover;
  padding: 20px;
  width: 100%;
  height: 100%; }
  .form__cine__div {
    background-color: rgba(211, 78, 223, 0.329);
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Indie Flower";
    padding: 20px; }
    .form__cine__div__titulo {
      grid-area: contenido;
      font-family: "Indie Flower", cursive;
      font-size: 60px;
      position: relative;
      right: 50%; }
    .form__cine__div__div2__qb {
      padding: 10px; }
    .form__cine__div__div2__checkbox {
      list-style-type: none; }
  .form__cine button,
  .form__cine select,
  .form__cine input {
    border-radius: 30%;
    margin: 10px; }
  .form__cine button:hover,
  .form__cine select:hover,
  .form__cine input:hover {
    background-color: gold; }
  .form__cine button {
    background-color: rgba(245, 23, 197, 0.58);
    width: 100px;
    padding: 5px; }

#grilla__cine {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr auto 1fr; }

#main__cine {
  grid-area: main;
  display: grid;
  grid-template-areas: "form__cine" "contenido__cine";
  grid-template-rows: 2fr 2fr; }

.recomendados__background {
  grid-area: recomendados;
  background-image: url("../imagenes/index__bg__rec.png");
  background-size: contain;
  background-position: center;
  width: auto; }

.recomendados__elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(212, 177, 163, 0.5);
  justify-content: space-evenly;
  font-family: "Josefin Sans";
  position: relative;
  top: 30%; }
  .recomendados__elementos h4,
  .recomendados__elementos h6 {
    font-size: 13px;
    padding: 1px;
    position: relative;
    top: 4%;
    right: -20%; }
  .recomendados__elementos img {
    width: 280px;
    height: 180px;
    padding: 10px; }
  .recomendados__elementos li {
    display: inline-block; }

.recomendados__elementos img:hover {
  border: 2px inset #ffd700;
  width: 350px;
  height: 200px; }

.titulo2__index {
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  position: relative;
  right: -35%;
  top: 20%; }

.fotos__index {
  grid-area: foto;
  background-image: url("../imagenes/index__bg__form2-1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  -webkit-animation: 4s ease-in-out 0s infinite normal change__back;
  animation: 4s ease-in-out 0s infinite normal change__back; }

@keyframes change__back {
  0% {
    background-image: url(../imagenes/index__bg__form2-1.png); }
  50% {
    background-image: url(../imagenes/index__bg__form3-1.png); }
  75% {
    background-image: url(../imagenes/index__bg__form1-1.png); }
  100% {
    background-image: url(../imagenes/index__bg__form2-1.png); } }

.index__form {
  grid-area: form;
  background-image: url("../imagenes/index__bg__form1.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  margin: 0px; }
  .index__form__titulo1 {
    font-family: "Indie Flower", cursive;
    font-size: 3rem;
    position: relative;
    right: -35%;
    top: 20%; }
  .index__form__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Josefin Sans";
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgba(212, 177, 163, 0.178);
    border-radius: 10px;
    height: 40em; }
    .index__form__form____qb {
      display: block;
      font-size: 2rem;
      padding: 24px;
      position: relative;
      right: -5%; }
    .index__form__form__pc {
      padding: 11px;
      border-color: darkgray;
      border-radius: 30px;
      width: 30rem; }
    .index__form__form__checkbox {
      list-style-type: none;
      display: flex; }
    .index__form__form___button {
      width: 10rem;
      height: 3rem;
      background-color: rgba(212, 110, 51, 0.58);
      border-radius: 90px;
      position: relative;
      right: -3%; }
    .index__form__form__genero__dropdown {
      padding: 24px; }
      .index__form__form__genero__dropdown select:hover {
        background-color: #fcdc27b7; }
    .index__form__form__button:hover {
      background-color: gold;
      color: floralwhite; }
    .index__form__form__pc:hover {
      background-color: #ffd90085; }

.index__form__form .index__form__form .index__form__form__button input[type=checkbox]:hover {
  background-color: gold; }

/* grid index */
#grilla__index {
  display: grid;
  grid-template-areas: "header header header" "main__index main__index main__index" "footer footer footer";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 3fr 5fr auto; }

#main__index {
  grid-area: main__index;
  display: grid;
  grid-template-areas: "form foto" "recomendados recomendados";
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 3fr 3fr; }

.fotos__index {
  grid-area: foto;
  background-image: url("../imagenes/index__bg__form2-1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  -webkit-animation: 4s ease-in-out 0s infinite normal change__back;
  animation: 4s ease-in-out 0s infinite normal change__back; }

@keyframes change__back {
  0% {
    background-image: url(../imagenes/index__bg__form2-1.png); }
  50% {
    background-image: url(../imagenes/index__bg__form3-1.png); }
  75% {
    background-image: url(../imagenes/index__bg__form1-1.png); }
  100% {
    background-image: url(../imagenes/index__bg__form2-1.png); } }

.recomendados__background {
  grid-area: recomendados;
  background-image: url("../imagenes/index__bg__rec.png");
  background-size: contain;
  background-position: center;
  width: auto; }

.recomendados__elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(212, 177, 163, 0.5);
  justify-content: space-evenly;
  font-family: "Josefin Sans";
  position: relative;
  top: 30%; }
  .recomendados__elementos h4,
  .recomendados__elementos h6 {
    font-size: 13px;
    padding: 1px;
    position: relative;
    top: 4%;
    right: -20%; }
  .recomendados__elementos img {
    width: 280px;
    height: 180px;
    padding: 10px; }
  .recomendados__elementos li {
    display: inline-block; }

.recomendados__elementos img:hover {
  border: 2px inset #ffd700;
  width: 350px;
  height: 200px; }

.titulo2__index {
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  position: relative;
  right: -35%;
  top: 20%; }

/* grilla musica*/
body .form__musica {
  background-image: url("../imagenes/music__bg__form.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: auto; }
  body .form__musica h4 {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    position: Relative;
    right: -35%;
    padding: 20px; }
  body .form__musica input {
    width: 300px; }
  body .form__musica form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(41, 206, 69, 0.288);
    padding: 40px;
    font-family: "Josefin Sans";
    font-size: 20px;
    /* align-content:center; */
    border-radius: 10%;
    width: auto; }
    body .form__musica form input,
    body .form__musica form button,
    body .form__musica form select {
      border-radius: 40%;
      margin: 10px; }
    body .form__musica form button {
      background-color: rgba(48, 165, 19, 0.637);
      width: 80px;
      padding: 3px;
      position: relative;
      right: -30px; }
    body .form__musica form button:hover,
    body .form__musica form select:hover,
    body .form__musica form input:hover {
      background-color: gold; }
    body .form__musica form input,
    body .form__musica form select,
    body .form__musica form button {
      font-size: 15px; }
  body .form__musica__div {
    padding: 50px; }
    body .form__musica__div__qb {
      font-size: 35px; }
    body .form__musica__div__genero {
      position: relative;
      top: 10px; }

body .musica__recomendada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../imagenes/music__bg__rec.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  padding: 50px;
  font-family: "Josefin Sans";
  height: auto; }
  body .musica__recomendada img {
    width: 60px;
    height: 60px;
    position: relative;
    right: -30%; }
  body .musica__recomendada h4 {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    position: Relative;
    right: -35%;
    padding: 20px; }
  body .musica__recomendada audio {
    height: 40px;
    width: 200px;
    position: relative;
    right: -30%; }
  body .musica__recomendada h5 {
    position: relative;
    right: -30%; }
  body .musica__recomendada__div {
    background-color: rgba(41, 206, 69, 0.288);
    padding: 40px;
    border-radius: 8%; }

#grilla__musica {
  display: grid;
  grid-template-areas: "header header header" "main__musica main__musica main__musica" "footer footer footer";
  grid-template-rows: 90px auto 100px;
  grid-template-columns: 1fr 3fr auto; }

#main__musica {
  grid-area: main__musica; }

.form__qsp {
  font-family: "Josefin Sans";
  grid-area: form;
  background-color: rgba(212, 177, 163, 0.178);
  background-image: url("../imagenes/qsp__bg__form.png");
  background-size: cover;
  padding: 40px; }
  .form__qsp input,
  .form__qsp textarea,
  .form__qsp button {
    background-color: #ffffff;
    border-radius: 90px; }
  .form__qsp p {
    padding: 10px;
    text-align: center; }
  .form__qsp button {
    padding: 10px;
    position: relative;
    right: -10px;
    top: 1px;
    width: 200px;
    background-color: rgba(212, 110, 51, 0.58); }
    .form__qsp button:hover {
      background-color: khaki; }
  .form__qsp__div {
    background-color: rgba(212, 177, 163, 0.459);
    padding: 15px;
    position: relative;
    right: -10%;
    width: 80%; }
    .form__qsp__div form {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: space-between;
      justify-content: space-evenly;
      height: auto; }
    .form__qsp__div form p,
    .form__qsp__div label,
    .form__qsp__div input {
      padding: 8px; }

#texto__qsp {
  font-family: "Josefin Sans";
  grid-area: texto;
  background-image: url("../imagenes/qsp__bg__form2png.png");
  position: relative;
  height: auto;
  width: auto;
  padding: 40px; }
  #texto__qsp h3 {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    text-align: center;
    width: 80%;
    position: relative;
    right: -20%;
    padding: 20px; }
  #texto__qsp p {
    width: 1000px;
    font-size: 15px;
    text-align: center;
    width: 80%;
    position: relative;
    right: -20%;
    padding: 20px; }
  #texto__qsp__titulo {
    font-family: "Indie Flower", cursive;
    font-size: 40px;
    position: relative;
    right: -0%; }

.img__qsp {
  grid-area: img;
  background-color: white;
  background-image: url("../imagenes/mountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat; }
  .img__qsp img {
    border-radius: 10px;
    height: 1100px;
    width: 1100px;
    position: relative; }

#grilla__qsp {
  display: grid;
  grid-template-areas: "texto texto texto" "form form img" "form form img";
  grid-template-rows: 200px 900px auto;
  grid-template-columns: 250px 400px 695px; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  width: auto; }
  body a {
    text-decoration: none; }
    body a:visited {
      color: slategrey; }

/* *******************seccion QUERES SER PARTE************************************ */
