@media (min-width: 0px) and (max-width:420px) {
    html,
    body {
        min-height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        padding-bottom: 1px;
        border: 1px solid transparent;
    }
    .root__element {
        font-size: 3px;
    }
    #grilla1__normal {
        display: grid;
        grid-template-areas: "header" "grilla2__normal" "footer";
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 100%;
    }
    #grilla2__normal {
        grid-area: grilla2__normal;
        display: grid;
        grid-template-areas: "cuento__normal" "form__normal";
        grid-template-rows: 1fr auto;
        grid-template-columns: 100%;
    }
    .normal__section {
        grid-area: cuento__normal;
        @include texto__cuentos400 (rgba(109, 2, 2, 0.522), url("../imagenes/normal__cut.jpg"));
    }
    .cuento__normal__form__section {
        grid-area: form__normal;
        @include forms__cuentos600(rgba(109, 2, 2, 0.522));
    }
}

@media (min-width: 421px) and (max-width: 600px) {
    html,
    body {
        min-height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        padding-bottom: 1px;
        border: 1px solid transparent;
    }
    .normal__section {
        grid-area: cuento__normal;
        @include texto__cuentos600 (rgba(109, 2, 2, 0.522),
        url("../imagenes/normal__cut.jpg"));
    }
    .cuento__form__section {
        grid-area: form__normal;
        @include forms__cuentos600(rgba(109,
        2,
        2,
        0.522));
    }
}

@media (min-width: 601px) and (max-width: 1600px) {
    html,
    body {
        min-height: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        padding-bottom: 1px;
        border: 1px solid transparent;
    }
    .normal__section {
        grid-area: cuento__normal;
        @include texto__cuentos(rgba(109,
        2,
        2,
        0.522),
        url("../imagenes/normal__cut.jpg"));
    }
    .cuento__normal__form__section {
        grid-area: form__normal;
        @include forms__cuentos(rgba(109,
        2,
        2,
        0.522));
    }
}