/* ***************seccion CINE*************************** */

@import "../cine/cine__recomendados.scss";
@import "../cine/cine__form.scss";
@import "../media\ queries/mq__cine.scss";
$main-font: "Josefin Sans";
$titles-font:'Indie Flower';
$logo-font:'Permanent Marker';
#grilla__cine {
    display: grid;
    grid-template-areas: "header" "main__cine" "footer";
    grid-template-rows: 30% auto 20%;
    grid-template-columns: 100%;
}

#main__cine {
    grid-area: main__cine;
    display: grid;
    grid-template-areas: "form__cine" "contenido__cine";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}