/* ***************seccion CINE*************************** */

$main-font: "Josefin Sans";
$titles-font:'Indie Flower';
$logo-font:'Permanent Marker';
#grilla__cine {
    width: 100%;
    display: grid;
    grid-template-areas: "header" "main__cine" "footer";
    grid-template-rows: 30% auto 20%;
    grid-template-columns: 100%;
}

#main__cine {
    width: 100%;
    grid-area: main__cine;
    display: grid;
    grid-template-areas: "form__cine" "contenido__cine";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}