$contenidos-fsize: 10rem;
.contenido__cine {
    grid-area: contenido__cine;
    background-image: url("../imagenes/cine__bg__cont2.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: auto;
    height: auto;
    &__div {
        background-color: rgba(211, 78, 223, 0.329);
        margin: 20rem;
    }
    &__div__titulo {
        @include titulos(-20%);
    }
    &__div__div2 {
        &__cortos {
            @include contenidos;
            &__titulo {
                font-size: $contenidos-fsize;
            }
        }
        &__series {
            @include contenidos;
            &__titulo {
                font-size: $contenidos-fsize;
            }
        }
        &__skits {
            @include contenidos;
            &__titulo {
                font-size: $contenidos-fsize;
            }
        }
    }
}